.contact-page-container	{
	.page-intro {
		margin-bottom: 30px;

		h1 {
			width: 100%;
		}
	}

	.lower-contact-page {
		background: #fafaf8;
		padding-top: 50px;
		padding-bottom: 70px;
	}

	.contact-container {
		margin-bottom: 70px;

		.wpcf7 {
			max-width: 660px;
			width: 100%;

			p {
				position: relative;
				margin-bottom: 25px;

				&:last-of-type {
					margin: 0;
				}
			}

			input,textarea, select {
				width: 100%;
				margin-top: 10px;
				border-radius: 4px;
				outline: 0;
				font-size: 18px;
				font-family: $font-default;
				font-weight: 300;
				color: #707070;
				-webkit-appearance: none;
				background: #FFF;

				&.wpcf7-not-valid {
					border: 1px solid red;
				}
			}

			.wpcf7-form-control-wrap {
				position: relative;
				display: block;
			}

			textarea {
				resize: none;
				padding: 15px 0 0 15px;
			}

			input.wpcf7-submit {
				background: $red-a;
				color: #FFF;
				font-size: 24px;
				font-weight: 400;
				max-width: 300px;
				cursor: pointer;
				transition: .5s all;
				border: none;

				&:hover {
					opacity: 0.8;
				}

				&:focus {
					border: 3px solid #000;
				}
			}

			.wpcf7-not-valid-tip {
				position: absolute;
				font-size: 12px;
				margin-top: 1px;
			}

			.wpcf7-response-output {
				display: none!important;
			}

			.ajax-loader {
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}

	.details {
		.map-container {
			flex-shrink: 0;
			height: 350px;
			width: 100%;
			border-radius: 6px;
			overflow: hidden;
			margin-bottom: 30px;

			iframe {
				height: 100%;
				width: 100%;
			}
		}

		p {
			font-size: 20px;
			line-height: 24px;
		}

		.top-row {
			.address-container {
				width: 100%;
				max-width: 280px;
				margin-bottom: 30px;


			.social-container {
				display: flex;
				margin-top: auto;

					a {
						color: #707070;
						opacity: 0.35;
						font-size: 27px;
						display: block;
						margin-right: 8px;
						transition: .5s all;

						&:last-of-type {
							margin: 0;
						}

						&:hover {
							opacity: 1;
						}
					}
				}
			}

			.media-information {
				a {
					color: #707070;

					&:last-of-type {
						color: $red-a;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.contact-page-container	{
		.details {
			.top-row {
				display: flex;

				.address-container {
					margin-right: 150px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.contact-page-container	{
		.details {
			.wrap {
				display: flex;
			}

			.map-container {
				flex-shrink: 0;
				max-width: 410px;
				max-height: 420px;
				width: 100%;
				border-radius: 6px;
				overflow: hidden;
				margin-right: 30px;

				iframe {
					height: 100%;
					width: 100%;
				}
			}

			p {
				font-size: 20px;
				line-height: 24px;
			}

			.top-row {
				display: flex;

				.address-container {
					max-width: 280px;
					margin-bottom: 30px;
				}
			}
		}
	}
}
