.event-map {
	display: none;
}

@media only screen and (min-width: 1024px) {
	.event-map {
		display: flex;
		margin-top: 35px;
		margin-bottom: 40px;

		.date-picker {
			background: #FFF;
			border-radius: 4px;
			width: 375px;
			margin-right: 57px;
			text-align: center;
			font-size: 24px;
			font-weight: 300;
			padding: 15px 0 12px 0;
			align-self: flex-start;
			font-size: 9px;

			.selector {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 15px 15px 15px;
				border-bottom: #F0F0F0 1px solid;
				text-align: center;

				.arrow {
					width: 43px;
					height: 32px;
					background: url('../library/images/events-arrow-left.svg') center / contain no-repeat;
					cursor: pointer;
					transition: .5s all;

					&:last-of-type {
						background: url('../library/images/events-arrow-right.svg') center / contain no-repeat;
					}

					&.disabled {
						opacity: 0.6;
						cursor: default;
					}
				}

				p {
					font-size: 24px;
					color: #434343;
					font-weight: 400;
					margin: 0;
				}

				&.month-selector {
					padding: 15px 15px 15px 15px;
					margin-bottom: 10px;
				}
			}

			.calendar {
				width: 100%;

				td {
					height: 35px;
					vertical-align: middle;
				}

				.day {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 20px;
					width: 20px;
					background: #E3E3DF;
					border-radius: 50%;
					margin: 0 auto;
					transition: .5s all;

					&.event-present {
						background: #B5271E;
						//opacity: 0.6;
						cursor: pointer;
						color: #FFF;

						&:hover, &.activedate {
							opacity: 1;
						}

						&:focus {
							border: 1px solid #000;
							border-radius: 50%;
						}
					}
				}
			}
		}

		.map-container {
			position: relative;
			align-self: flex-start;
			justify-self: flex-start;
			margin-bottom: 65px;

			.point {
				position: absolute;
				overflow: visible;
				top: 50%;
				left: 50%;
				display: block;
				transition: .5s all;

				.point-details {
					display: block;
					top: -120px;
					left: -200px;
					color: #434343;
					border: 1px solid #434343;
					background: #fff;
					position: absolute;
					z-index: 5;
					pointer-events: none;
					transition: .5s all;
					border-radius: 4px;
					width: 190px;
					line-height: 21px;
					opacity: 0;

					a {
						color: #434343;
						display: block;
						height: 100%;
						width: 100%;
						padding: 15px 15px 20px 15px;
					}

					strong {
						display: block;
						margin-bottom: 5px;
					}

					span {
						display: block;
						font-size: 14px;
						line-height: 16px;

						&:first-of-type {
							margin-bottom: 5px;
						}
					}
				}

				.point-marker {
					position: absolute;
					height: 16px;
					width: 16px;
					top: 0;
					left: 0;
					background: #B5271E;
					opacity: 0.4;
					z-index: 3;
					transition: .5s all;
					cursor: pointer;
					border-radius: 50%;
				}

				&.activedate {
					.point-marker {
						opacity: 1;
					}

					.point-details {
						pointer-events: auto;
						opacity: 1;
					}

					&.second-event {
						.point-details {
							top: 0;
						}
					}
				}

				&.location {
					&-netherlands {
						top: 30%;
						left: 48%;
					}
					&-belgium {
						top: 32%;
						left: 47%;
					}
					&-sydney {
						top: 84%;
						left: 88%;
					}
					&-liverpool {
						top: 29%;
						left: 44%;
					}
					&-yaounde {
						top: 62%;
						left: 49%;
					}

					&-geneva {
						top: 34%;
						left: 48%;
					}

					&-dakar {
						top: 53%;
						left: 41%;
					}
					&-portland-usa {
						top: 36%;
    					left: 12%
					}
					&-washington {
						top: 39%;
						left: 24%;
					}

					&-florida {
						top: 47%;
						left: 23.5%;
					}

					&-india {
						top: 53%;
						left: 69%;
					}

					&-pennsylvania {
						top: 36%;
						left: 24%;
					}

					&-burkina-faso {
						top: 55%;
						left: 45%;
					}

					&-barcelona {
						top: 40%;
						left: 45%;
					}

					&-london {
						top: 29%;
    					left: 45%;
					}

					&-ethiopia {
						top: 59%;
						left: 57%;
					}

					&-lyon {
						top: 36%;
						left: 47%;
					}

					&-nigeria {
						top: 57%;
						left: 47%;
					}

					&-vietnam {
						top: 52%;
						left: 76%;
					}

					&-st-louis {
						top: 37%;
    					left: 20%;
					}

					&-kigali {
						top: 59%;
						left: 55%;
					}

					&-bangkok {
						top: 56%;
						left: 75%;
					}

					&-ghana {
						top: 59.5%;
						left: 45.5%;
					}

					&-maryland {
						top: 39.5%;
						left: 24.5%;
					}

					&-toronto {
						top: 34.5%;
						left: 24.5%;
					}

					&-salt-lake-city {
						top: 39%;
						left: 15%;
					}
				}
			}

			img {
				max-width: 100%;
				height: auto;
			}

			.map-overlay {
				position: absolute;
			    top: 0;
			    left: 0;
			    height: 100%;
			    width: 100%;
			}
		}
	}
}
