.flexible-content {
	width: 100%;
}

@media only screen and (min-width: 1024px) {
	.page-nav-active {
		display: flex;

		.flexible-content {
			width: calc(100% - 235px);
		}
	}
}

.page-nav {
	position: fixed;
	bottom: calc(-100vh + 125px);
	left: 0;
	height: calc(100vh - 60px);
	width: 100%;
	background: #434343;
	z-index: 5;
	transition: .5s all;
	overflow: hidden;
	text-align: right;

	&.active-nav {
		bottom: 0;
		overflow: auto;

		.page-nav-trigger {
			img {
				transform: rotate(0deg);
			}
		}
	}

	.page-nav-trigger {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		height: 65px;
		cursor: pointer;

		p {
			font-size: 20px;
			font-weight: 400;
			color: #FFF;
			margin-bottom: 0;
		}

		img {
			display: block;
			width: 22px;
			height: 12px;
			transform: rotate(180deg);
			transition: .5s all;
		}
	}

	ul {
		padding: 10px 20px 0 20px;
		font-size: 20px;
		list-style: none;
		margin-bottom: 0;
		width: 100%;

		li {
			display: flex;
			justify-content: flex-end;
			color: #FFF;
			margin: 0;
			padding: 12px 0px;
			text-transform: uppercase;
			list-style: none;
			margin: 0;

			&:before {
				content: none;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 100%;
				padding: 14px 0;
				border-bottom: 1px solid rgba(112, 112, 112, 0.2);
				transition: .5s all;
				color: #FFF;

				&:hover {
					font-weight: bold;
				}
			}
		}
	}

	.author-info {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.page-nav {
		top: 180px;
		background: none;
		bottom: auto;
		position: sticky;
		align-self: flex-start;
		max-width: 200px;
		width: 100%;
		margin-right: 35px;
		margin-bottom: 65px;
		height: auto;
		overflow: visible;

		.page-nav-trigger {
			display: none;
		}

		ul {
			font-size: 16px;
			padding: 0;
			margin-bottom: 20px;

			li {
				display: block;
				color: $text;
				border-bottom: 1px solid #E2E2E2;
				padding: 12px 0px;

				a {
					display: block;
					border: none;
					padding: 0;
					transition: .5s all;
					color: $red-a;

					&:hover {
						font-weight: bold;
					}
				}
			}
		}

		.author-info {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;

			.author-pic {
				display: block;
				height: auto;
				width: 100%;
				max-width: 50px;
				border-radius: 4px;
				margin-right: 8px;
			}

			.author-details {
				margin-top: auto;
				font-size: 12px;
				color: $text;
			}
		}

		&.condensed-header {
			top: 100px;
		}
	}
}

@media all and (-ms-high-contrast:none) {
	.page-nav {
		top: 0!important;
		position: relative!important;
	}
}
