.section_introduction {
	display: flex;
	margin-bottom: 45px;
	align-items: flex-start;

	.left-col {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-right: auto;

		h1 {
			margin-bottom: 30px;
		}

		.content {
			display: none;

			p {
				&:last-of-type {
					margin-bottom: 0;
				}
			}

			&.careers-overview-content {
				display: block;
			}
		}

		.market-access-intro-content {
			display: block;

			.content {
				display: block;
			}

			&.with-logo {
				display: none;
			}

			.section-logo {
				display: block;
				margin-bottom: 20px;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.map {
		display: none;
	}

	.author-info {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 30px;

		.author-pic {
			display: block;
			height: auto;
			width: 100%;
			max-width: 50px;
			border-radius: 4px;
			margin-right: 8px;
		}

		.author-details {
			margin-top: auto;
			font-size: 12px;
			color: $text;
		}
	}
}

@media only screen and (min-width: 900px) {
	.section_introduction {
		display: flex;
		margin-bottom: 45px;
		padding-top: 30px;

		.left-col {
			position: relative;
			display: flex;
			flex-direction: column;
			margin-right: auto;

			h1 {
				margin-bottom: 30px;
			}

			.content {
				max-width: 545px;

				p {
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}

			.market-access-intro-content {
				display: block;

				&.with-logo {
					display: none;
					margin-top: auto;
				}

				.section-logo {
					margin-bottom: 20px;
				}
			}
		}

		.author-info {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;

			.author-pic {
				display: block;
				height: auto;
				width: 100%;
				max-width: 50px;
				border-radius: 4px;
				margin-right: 8px;
			}

			.author-details {
				margin-top: auto;
				font-size: 12px;
				color: $text;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.section_introduction {
		align-items: center;

		.map {
			opacity: 1;
			visibility: visible;
			height: auto;
			position: relative;
			max-width: 650px;
			width: 100%;
			order: 2;
			display: block;
			margin-left: 50px;
			flex-shrink: 0;

			svg {
				width: 100%;
				display: block;
				height: 320px;
			}

			.location {
				&.small {
					height: 7px;
					width: 7px;

					&:before {
						top: 3px;
						right: 14px;
					}

					.location-marker {
						height: 7px;
						width: 7px;
					}
				}

				&.medium {
					height: 10px;
					width: 10px;

					&:before {
						top: 5px;
						right: 12px;
					}

					.location-marker {
						height: 10px;
						width: 10px;
					}
				}

				&.large {
					height: 15px;
					width: 15px;

					&:before {
						top: 7.5px;
						right: 19px;
					}

					.location-marker {
						height: 15px;
						width: 15px;
					}
				}

				&.brazil {
					&:before {
						left: 20px;
					}
				}

				&.guyana {
					&:before {
						left: 15px;
					}
				}

				&.haiti {
					&:before {
						left: 15px;
					}
				}

				&.mexico {
					&:before {
						left: 15px;
					}
				}
				&.puerto-rico {
					&:before {
						left: 15px;
					}
				}

				&.trinidad {
					&:before {
						left: 15px;
					}
				}

				&.usa {
					&:before {
						left: 20px;
					}
				}

				&.massachusetts-usa {
					&:before {
						left: 15px;
					}
				}

				&.new-orleans-usa {
					&:before {
						left: 15px;
					}
				}
				&.north-carolina-usa {
					&:before {
						left: 15px;
					}
				}
				&.seattle-usa {
					&:before {
						left: 15px;
					}
				}
				&.washington-dc-usa {
					&:before {
						left: 15px;
					}
				}
			}
			&.market-access {
				&.ngenirs {
					.location {
						.body-of-work {
							&.nnp {
								display: none;
							}
						}
						.location-marker {
							&.ngenirs.nnp {
								opacity: 0.4;
								background: $teal-a;
								transition: none;
							}

							&.nnp {
								opacity: 0;
							}
						}
					}
				}
				&.new-nets-project {
					.location {
						.body-of-work {
								&.ngenirs {
									display: none;
								}
							}
						.location-marker {
							&.ngenirs.nnp {
								opacity: 0.4;
								background: $yellow;
								transition: none;
							}

							&.ngenirs {
								opacity: 0;
							}
						}
					}
				}
			}
		}
	}
}

.grid-container {
	.filters-container {
		.filter {
			&:focus {
				text-decoration: underline;
			}
		}
		&.mobile-filter {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #434343;
			z-index: 3;
			overflow: hidden;
			transition: .5s all;
			transform: translateY(calc(100% - 65px));

			&.active-filter {
				transform: translateY(0);
				overflow: auto;

				.mobile-filter-trigger {
					img {
						transform: rotate(0deg);
					}
				}
			}

			.mobile-filter-trigger {
				display: flex;
				justify-content: space-between;
				padding: 20px;
				height: 65px;
				cursor: pointer;
				align-items: center;

				p {
					font-size: 20px;
					font-weight: 400;
					color: #FFF;
					margin-bottom: 0;
				}

				img {
					display: block;
					width: 22px;
					height: 12px;
					height: auto;
					transform: rotate(180deg);
					transition: .5s all;
				}
			}
				ul {
				padding: 10px 20px 20px 20px;
				font-size: 20px;
				list-style: none;
				margin-bottom: 0;
				width: 100%;

				li {
					display: flex;
					justify-content: flex-end;
					color: #FFF;
					margin: 0;
					padding: 12px 0px;
					text-transform: uppercase;
					list-style: none;
					margin: 0;
					border-bottom: 1px solid rgba(112, 112, 112, 0.2);

					&:before {
						content: none;
					}

					&:last-of-type {
						border-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
		}

		&.desktop-filters {
			display: none;
		}
	}

	.category-image {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.grid-container {
		.filters-container.mobile-filter {
			display: none;
		}

		.filters-container.desktop-filters {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 40px;

			p {
				width: 100%;
				font-size: 22px;
				margin-bottom: 0;
				line-height: 22px;
				margin-bottom: 14px;
			}

			.single-filter-group-container {
				position: relative;
				display: flex;
				flex-direction: column;
				margin-right: 7px;
				margin-bottom: 7px;

				.sub-filters {
					opacity: 0;
					position: absolute;
					left: 0;
					top: 50px;
					z-index: 1;
					transition: .5s all;
					pointer-events: none;

					.filter {
						height: 40px;
						background: none;
						text-transform: none;
						border-radius: 0;
						border: none;
						border-bottom: 1px solid #dfdfda;
						max-width: 100%;
						font-size: 16px;
						padding: 0;

						&:last-of-type {
							border: none;
						}
					}
				}

				&:last-of-type {
					margin-right: 0;
				}

				&.active-filter-group {
					.sub-filters {
						pointer-events: auto;
						opacity: 1;

						.sub-filter {
							&.active-filter, &:hover {
								color: $red-a;
							}
							&.teal {
								&:hover, &.active-filter {
									color: $teal-a;
								}
							}

							&.yellow {
								&:hover, &.active-filter {
									color:  $yellow;
								}
							}
						}
					}
				}
			}

			.filter {
				display: inline-flex;
				align-items: center;
				height: 50px;
				font-size: 20px;
				padding: 0 15px;
				text-transform: uppercase;
				border: #efefec 1px solid;
				border-radius: 4px;
				transition: .5s all;
				font-weight: 300;
				cursor: pointer;
				background: #000;
				color: #fff;

				&:hover, &.active-filter {
					font-weight: bold;
					background: $red-a;
					color: #FFF;
				}

				&.teal {
					&:hover, &.active-filter {
						font-weight: bold;
						background: $teal-a;
						color: #FFF;
					}
				}

				&.yellow {
					&:hover, &.active-filter {
						font-weight: bold;
						background:  $yellow;
						color: #FFF;
					}
				}
			}
		}

		.category-image {
			display: block;
			max-width: 100%;
			height: auto;
			margin-bottom: 40px;
		}
	}

	.grid-category-container {
		display: none;
		position: relative;
	}
}

.vector-control-introduction svg {
	rect {
		transition: .5s all;
	}

	&.malaria {
		#ntds {
			rect {
				opacity: 0;
			}
		}
	}

	&.novel-ais {
		#malaria {
			rect {
				opacity: 0;
			}
		}
	}
}

.research-and-dev-intro svg {
	rect {
		transition: .5s all;
	}

	&.malaria {
		#ntds {
			rect {
				opacity: 0;
			}
		}
	}

	&.novel-ais {
		#malaria {
			rect {
				opacity: 0;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.page-template-page-market-access-overview {
		.ngenirs-bespoke, .new-nets-project-bespoke {
			//width: 50%;
			height: auto;
			height: 400px;
		}
	}
	.market-access-introduction svg {
		rect {
			transition: .5s all;
		}

		&.ngenirs {
			#ngenirs {
				rect {
					opacity: 0;
				}
			}
		}

		&.nnp {
			#nnp {
				rect {
					opacity: 0;
				}
			}
		}
	}

	.grid-category-container {
		&.new-nets-project, &.ngenirs {
			.bespoke-col {
				width: 40.73%;
			}
		}
	}

	.changeable-intro-content {
		.content {
			display: none;
		}
	}
}



