.homepage-intro-section {
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
	padding: 60px 20px 20px 20px;

	.output {
		height: 96px;
		margin-bottom: 35px;
	}

	h1 {
		font-weight: 300;
		font-size: 48px;
		line-height: 48px;
		margin: 0;

		span {
			position: relative;
			font-weight: bold;
			display: block;

			&:after {
				right: -12px;
				bottom: -2px;
				position: absolute;
				height: 6px;
				width: 35px;
				content: ' ';
				background: #B5271E;
			}
		}
	}

	h2 {
		display: block;
		font-weight: 300;
		font-size: 48px;
		line-height: 48px;
		position: relative;
		font-weight: bold;
		display: block;
	}

	.cursor::after {
		display:inline-block;
		animation-name:blink;
		animation-duration:0.75s;
		animation-iteration-count: infinite;
		margin-left: 15px;
		margin-bottom: -8px;
		height: 6px;
		width: 35px;
		content: ' ';
		background: #B5271E;
	}

	@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

	.right-col-content {
		display: none;
		width: 100%;
	}

	.left-col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.hp-filters {
		display: none;
	}

	hr {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.homepage-intro-section {
		display: flex;
		flex-wrap: wrap;

		.output {
			height: 144px;
		}

		h1 {
			font-size: 72px;
			line-height: 72px;
		}

		h2 {
			font-size: 72px;
			line-height: 72px;
		}

		.right-col-content {
			position: relative;
			display: block;
			max-width: 365px;
			width: 100%;
			margin-left: auto;

			.intro-content {
				position: absolute;
				opacity: 0;
				bottom: 0px;
				visibility: hidden;
				transition: .25s all;
				width: 100%;

				&.active-content {
					opacity: 1;
					visibility: visible;
				}
			}

			p {
				max-width: 305px;
				margin-bottom: 0;
			}
		}

		.left-col {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		.hp-filters {
			display: flex;

			.filter {
				height: 50px;
				display: flex;
				font-weight: 400;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: .25s all;
				padding: 0 20px;
				text-transform: uppercase;
				margin-right: 15px;
				border-radius: 4px;
				color: $text;
				border: 0;
			    font-weight: bold;
			    font-size: 18px;
			    font-family: 'Roboto';

				&:last-of-type {
					margin-right: 0;
				}

				&.active-filter, &:hover {
					color: #FFF;
					background: #B5271E;
				}
			}
		}

		hr {
			display: block;
			max-width: 625px;
			width: 100%;
			margin: 15px 0 50px 0;
			background: #F0F0F0;
			border: 0;
			height: 2px;
		}
	}
}

.partners-grid {
	display: flex;
	flex-wrap: wrap;

	.partner-image {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		border-right: 1px solid #f0f0f1;
		border-bottom: 1px solid #f0f0f1;
		padding: 25px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}

		&:nth-last-child(-n+2) {
			border-bottom: none;
		}

		&:nth-of-type(2n) {
			border-right: none;
		}
	}
}

@media only screen and (min-width: 768px) {
	.partners-grid {
		.partner-image {
			width: 20%;
			padding: 20px;

			&:nth-last-child(-n+2){
				border-bottom: 1px solid #f0f0f1;
			}

			&:nth-of-type(2n) {
				border-right: 1px solid #f0f0f1;
			}

			&:nth-last-child(-n+5) {
				border-bottom: none;
			}

			&:nth-of-type(5n) {
				border-right: none;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.partners-grid {
		.partner-image {
			padding: 5px;
		}
	}
}

.funding-partners {
	margin: 50px auto 30px auto;

	.funding-partners-grid {
		display: flex;
		flex-wrap: wrap;

		.partner-image {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25%;
			padding: 10px;

			img {
				display: block;
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}
}

@media only screen and (min-width: 650px) {
	.funding-partners {
		.funding-partners-grid {
			.partner-image {
				padding: 20px;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
.funding-partners {
		margin: 50px auto 30px auto;

		.funding-partners-grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.partner-image {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 12.5%;
				padding: 20px;

				img {
					display: block;
					max-width: 100%;
					height: auto;
				}

				&:first-of-type {
					padding-left: 0;
				}

				&:nth-of-type(6n) {
					padding-right: 0;
				}
			}
		}
	}
}


.home footer {
	margin-top: 0;
}
