.current-esacs {
	background: #F8F8F5;
    padding: 30px 20px 50px 20px;
    border-radius: 12px;

    h3 {
    	margin-bottom: 30px;

    	&:last-of-type {
    		color: #9F9F9F;
    		margin-bottom: 18px;
    	}
    }

	.esac-container {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 25px;

		.esac-block {
			width: 100%;
			margin-bottom: 15px;
			border-radius: 6px;
			color: #FFF;

			a {
				display: block;
				height: 100%;
				width: 100%;
				padding: 30px;
			}

			h3 {
				color: #FFF;
				margin-bottom: 22px;
			}

			hr {
				border: none;
				height: 1px;
				background: #FFF;
				margin-bottom: 18px;
				opacity: 0.5;
			}

			p:last-of-type {
				margin-bottom: 0;
			}

			&:nth-of-type(1n) {
				background: #009CA6;
			}

			&:nth-of-type(2n) {
				background: #B899C3;
			}

			&:nth-of-type(3n) {
				background: #3E3084;
			}

			&:nth-of-type(4n) {
				background: #4092D1;
				margin-right: 0;
			}

			&.legacy {
				background: #F0F0F0;
				color: $text;

				h3 {
					color: $text;
				}

				hr {
					background: $text;
				}
			}
    	}
    }
}

@media only screen and (min-width: 768px) {
	.current-esacs {
		.esac-container {
			.esac-block {
				width: calc(50% - 6px);
				margin-right: 12px;

				&:nth-of-type(2n) {
					margin-right: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.current-esacs {
		background: #F8F8F5;
	    padding: 30px 40px 50px 40px;

		.esac-container {
			margin-bottom: 8px;

			.esac-block {
				width: calc(25% - 12px);
				margin-right: 15px;
				margin-bottom: 15px;

				h3 {
					margin-bottom: 22px;
				}

				hr {
					margin-bottom: 12px;
				}

				p:last-of-type {
					margin-bottom: 0;
				}

		    	&:nth-of-type(2n) {
		    		margin-right: 15px;
		    	}

		    	&:nth-of-type(4n) {
		    		margin-right: 0;
		    	}
		    }
	    }
	}
}
