.reports-page-container {
	margin-bottom: 45px;

	.page-info {
		height: 48px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #E3E3DF;
		padding-bottom: 17px;
		margin-bottom: 40px;

		.date {
			display: flex;
			align-items: center;
			height: 100%;
			font-size: 14px;
			line-height: 16px;
			color: $text;
			border-right: 1px solid #CCCCCC;
			padding-right: 15px;
			margin-right: 15px;

			strong {
				text-transform: uppercase;
				margin-left: 8px;
			}

			img {
				display: block;
				height: 16px;
				width: auto;
				margin-left: 8px;
			}
		}

		.read-time {
			display: flex;
			align-items: center;
			height: 100%;
			font-size: 14px;
			line-height: 16px;
			color: $text;

			strong {
				text-transform: uppercase;
				margin-left: 8px;
			}

			img {
				display: block;
				height: 16px;
				width: auto;
				margin-left: 8px;
			}
		}

		.tag-container {
			height: 28px;
			display: flex;
			align-items: center;
			border-left: 1px solid #CCCCCC;
			padding-left: 15px;
			margin-left: 15px;

			.tag {
				margin-right: 10px;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}

	.content {
		width: 100%;

		a {
			text-decoration: underline;
		}
	}

	.sidebar {
		max-width: 410px;
		width: 100%;
		margin-top: 50px;

		.article-download {
			display: flex;
			border-bottom: 1px solid $red-a;
			padding-bottom: 12px;
			margin-bottom: 12px;

			.pdf-icon {
				display: block;
				max-width: 45px;
				width: 100%;
				height: auto;
				margin-bottom: auto;
				margin-right: 15px;
			}

			.paper-content {
				font-size: 14px;

				p {
					line-height: 18px;
					margin-bottom: 5px;

					strong {
						font-weight: 500;
						display: block;
					}

					span {
						text-transform: uppercase;
					}
				}

				.paper-actions {
					height: 14px;
					display: flex;
					align-items: center;

					.download {
						height: 100%;
						font-weight: bold;
						color: $red-a;

						a {
							height: 100%;
							display: flex;
							align-items: center;
						}

						img {
							margin-left: 5px;
							width: auto;
							height: 12px;
						}
					}
				}
			}

			&:last-of-type {
				margin-bottom: 0;
				border-bottom: 0;
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	.reports-page-container {
		.post-inner {
			display: flex;
		}

		.content {
			width: calc(100% - 430px);

			.featured-image {
				display: none;
			}
		}

		.sidebar {
			max-width: 410px;
			width: 100%;
			margin-left: 20px;
			margin-top: 0;

			h4 {
				display: none;
			}
		}
	}
}
