.search-results-container {
	margin-bottom: 45px;

	h1 {
		margin-bottom: 70px;
	}

	h4 {
		font-size: 30px;
		font-weight: 500;
		line-height: 38px;
		margin-bottom: 15px;
	}

	h5 {
		font-size: 22px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 15px;
	}

	.results-header {
		font-size: 12px;
		color: #B5271E;

		&.lower-header {
			margin: 150px 0 50px 0;
		}
	}

	.search-result {
		border-bottom: 1px solid rgba(181, 39, 30, 0.3);

		a {
			display: block;
			padding: 10px 0px;
		}

		h4 {
			font-size: 18px;
			margin-bottom: 0;

			.resource-icon {
				display: none;
			}
		}

		p {
			display: none;
		}

		&.featured-results {
			border-bottom: 1px solid #B5271E;

			a {
				padding: 50px 0 20px 0;
			}


			h4 {
				font-size: 24px;
				margin-bottom: 5px;

				.resource-icon {
					display: inline;
					transform: translateY(2px);
				    width: auto;
				    height: 20px;
				    margin-left: 5px;
				}
			}

			p {
				color: #707070;
				display: block;
				margin: 0;

				&.date {
					font-size: 14px;
					margin-bottom: 8px;
				}
			}
		}

		&.resources {
			padding: 10px 0px;
		}

		&.resources.featured-results {
			padding: 50px 0 20px 0;
		}
	}

	.pagination {
		display: flex;
		justify-content: center;
		text-align: center;
		margin-top: 60px;

		.page-numbers {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #707070;
			margin-right: 10px;
			font-size: 18px;
			transition: .5s all;
			border-bottom: 1px solid #F8F8F5;
			transition: .5s all;
			outline: 0;
			padding: 0 2px 10px 2px;
			width: 18px;

			&.current, &:hover {
				border-bottom: 1px solid $red-a;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.filters-container {
		&.mobile-filter {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #434343;
			z-index: 3;
			overflow: hidden;
			transition: .5s all;
			transform: translateY(calc(100% - 65px));

			&.active-filter {
				transform: translateY(0);
				overflow: auto;

				.mobile-filter-trigger {
					img {
						transform: rotate(0deg);
					}
				}
			}

			.mobile-filter-trigger {
				display: flex;
				justify-content: space-between;
				padding: 20px;
				height: 65px;
				cursor: pointer;
				align-items: center;

				p {
					font-size: 20px;
					font-weight: 400;
					color: #FFF;
					margin-bottom: 0;
				}

				img {
					display: block;
					width: 22px;
					height: 12px;
					height: auto;
					transform: rotate(180deg);
					transition: .5s all;
				}
			}

			ul {
				padding: 10px 20px 20px 20px;
				font-size: 20px;
				list-style: none;
				margin-bottom: 0;
				width: 100%;

				li {
					display: flex;
					justify-content: flex-end;
					color: #FFF;
					margin: 0;
					padding: 12px 0px;
					text-transform: uppercase;
					list-style: none;
					margin: 0;
					border-bottom: 1px solid rgba(112, 112, 112, 0.2);

					&:before {
						content: none;
					}

					&:last-of-type {
						border-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
		}

		&.desktop-filters {
			display: none;
		}
	}
}

@media only screen and (min-width: 768px) {
	.search-results-container {
		.filters-container.mobile-filter {
			display: none;
		}

		.filters-container.desktop-filters {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			margin-top: 40px;
			padding-bottom: 40px;
			margin-bottom: 80px;
			border-bottom: 1px solid $red-a;

			p {
				color: $red-a;
				width: 100%;
				font-size: 12px;
				margin-bottom: 0;
				font-weight: 500;
				line-height: 14px;
				margin-bottom: 15px;
			}

			.filter {
				display: inline-flex;
				align-items: center;
				height: 32px;
				font-size: 18px;
				padding: 0 15px;
				text-transform: uppercase;
				border: #CCC 1px solid;
				border-radius: 4px;
				transition: .5s all;
				font-weight: 400;
				cursor: pointer;
				margin-right: 7px;

				&:last-of-type {
					margin-right: 0;
				}

				&:hover, &.active-filter {
					border: 1px solid $red-a;
					color: $red-a;
				}
			}
		}
	}
}
