.single-event-container {
	margin-bottom: 45px;

	.page-info {
		height: 48px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #E3E3DF;
		padding-bottom: 17px;
		margin-bottom: 40px;

		.read-time {
			display: flex;
			align-items: center;
			height: 100%;
			font-size: 14px;
			line-height: 16px;
			color: $text;

			strong {
				text-transform: uppercase;
				margin-left: 8px;
			}

			img {
				display: block;
				height: 16px;
				width: auto;
				margin-left: 8px;
			}
		}

		.tag-container {
			height: 28px;
			display: flex;
			align-items: center;
			border-left: 1px solid #CCCCCC;
			padding-left: 15px;
			margin-left: 15px;
			margin-right: 15px;

			.tag {
				margin-right: 10px;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		.register-for-event {
			height: 22px;
			width: auto;
			margin-left: auto;
		}
	}

	.event-logo {
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 25px;
		max-width: 350px;

		&.desktop-event-logo {
			display: none;
		}
	}


	.virtual-event {
		display: flex;
		align-items: center;
		border-right: 1px solid #CCCCCC;
		padding-right: 15px;
		font-size: 14px;
		text-transform: uppercase;
		margin-right: 15px;
		color: $red-a;
	}

	.post-inner {
		display: flex;
		flex-direction: column;
	}

	.content {
		margin-bottom: 50px;

		.event-details {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;

			img {
				margin-right: auto;
			}

			h4 {
				font-size: 20px;
			}
		}

		.research_papers {
			margin: 80px 0;

			h3 {
				font-size: 32px;
				margin-bottom: 40px;
			}
		}

		.social-share {
			margin-top: 50px;
			display: flex;

			a {
				display: block;
				margin-right: 10px;

				&:last-of-type {
					margin: 0;
				}
			}

			img {
				display: block;

			}
		}
	}

	.sidebar {
		width: 100%;

		.author-info {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 10px;

			.author-pic {
				display: block;
				height: auto;
				width: 100%;
				max-width: 50px;
				border-radius: 4px;
				margin-right: 8px;
			}

			.author-details {
				margin-top: auto;
				font-size: 12px;
				color: $text;
			}

			&:last-of-type {
				margin-bottom: 40px;
			}
		}

		.register-for-event {
			display: none;
		}
	}
}

@media only screen and (min-width: 600px) {
	.single-event-container {
		.content {
			.event-details {
				img {
					margin-right: 25px;
				}

				h4 {
					font-size: 24px;
				}
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	.single-event-container {
		margin-bottom: 45px;

		.page-info {
			.tag-container {
				margin-right: 0;
			}

			.register-for-event {
				display: none;
			}
		}

		.event-logo {
			margin-bottom: 40px;

			&.desktop-event-logo {
				display: block;
			}

			&.mobile-event-logo {
				display: none;
			}
		}

		.post-inner {
			flex-direction: row;
		}

		.content {
			margin-bottom: 0;
			width: calc(100% - 430px);

			.event-details {
				display: block;
			}
		}

		.sidebar {
			max-width: 410px;
			margin-left: 20px;

			.author-info {
				margin-bottom: 35px;
			}

			.register-for-event {
				display: flex;
				align-items: center;
				font-weight: bold;
				color: $red-a;

				img {
					margin-right: 15px;
				}
			}
		}
	}
}
