.single-job-container {
	margin-bottom: 45px;

	.post-intro {
		border-bottom: 1px solid #E3E3DF;
		padding-bottom: 30px;
		margin-bottom: 40px;

		p {
			line-height: 28px;
		}
	}

	.recipient-info {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

		.recipient-pic {
			display: block;
			height: auto;
			width: 100%;
			max-width: 50px;
			border-radius: 4px;
			margin-right: 8px;
		}

		.recipient-details {
			margin-top: auto;
			font-size: 12px;
			color: $text;
		}
	}
}

