.single-post-container {
	margin-bottom: 45px;

	.post-intro {
		h1 {
			margin-bottom: 35px;
		}
	}

	.page-info {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #E3E3DF;
		padding-bottom: 10px;
		margin-bottom: 40px;

		.date {
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 16px;
			color: $text;
			margin-bottom: 10px;

			strong {
				text-transform: uppercase;
				margin-left: 8px;
			}

			img {
				display: block;
				height: 16px;
				width: auto;
				margin-left: 8px;
			}
		}

		.read-time {
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 16px;
			color: $text;
			margin-bottom: 10px;

			strong {
				text-transform: uppercase;
				margin-left: 8px;
			}

			img {
				display: block;
				height: 16px;
				width: auto;
				margin-left: 8px;
			}
		}

		.tag-container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 10px;

			.tag {
				margin-right: 10px;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		.author-info {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			line-height: 14px;

			.author-pic {
				display: block;
				height: auto;
				width: 100%;
				max-width: 50px;
				border-radius: 4px;
				margin-right: 8px;
			}

			.author-details {
				margin-top: auto;
				font-size: 12px;
				color: $text;
			}
		}
	}

	.content {
		width: 100%;

		.featured-image {
			display: block;
			max-width: 100%;
			margin: 0 auto 35px auto;
			border-radius: 6px;

			&.caption-present {
				margin-bottom: 10px;
			}
		}

		.image-caption {
			font-size: 14px;
			margin-bottom: 35px;
		}

		.social-share {
			margin-top: 50px;
			display: flex;

			a {
				display: block;
				margin-right: 10px;
				text-decoration: none;

				&:last-of-type {
					margin: 0;
				}
			}

			img {
				display: block;

			}
		}
	}

	.sidebar {
		max-width: 410px;
		width: 100%;
		margin-top: 50px;

		.featured-image {
			display: none;
		}

		.article-download {
			display: flex;
			border-bottom: 1px solid $red-a;
			padding-bottom: 12px;
			margin-bottom: 12px;

			.pdf-icon {
				display: block;
				max-width: 45px;
				width: 100%;
				height: auto;
				margin-bottom: auto;
				margin-right: 15px;
			}

			.paper-content {
				font-size: 14px;

				p {
					line-height: 18px;
					margin-bottom: 5px;

					strong {
						font-weight: 500;
						display: block;
					}

					span {
						text-transform: uppercase;
					}
				}

				.paper-actions {
					height: 14px;
					display: flex;
					align-items: center;

					.download {
						height: 100%;
						font-weight: bold;
						color: $red-a;

						a {
							height: 100%;
							display: flex;
							align-items: center;
						}

						img {
							margin-left: 5px;
							width: auto;
							height: 12px;
						}
					}
				}
			}

			&:last-of-type {
				margin-bottom: 0;
				border-bottom: 0;
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	.single-post-container {
		.page-info {
			height: 60px;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			border-bottom: 1px solid #E3E3DF;
			padding-bottom: 10px;
			margin-bottom: 40px;

			.date {
				display: flex;
				align-items: center;
				height: 30px;
				font-size: 14px;
				line-height: 16px;
				color: $text;
				border-right: 1px solid #CCCCCC;
				padding-right: 15px;
				margin-right: 15px;
				margin-bottom: 0;

				strong {
					text-transform: uppercase;
					margin-left: 8px;
				}

				img {
					display: block;
					height: 16px;
					width: auto;
					margin-left: 8px;
				}
			}

			.read-time {
				display: flex;
				align-items: center;
				height: 30px;
				font-size: 14px;
				line-height: 16px;
				color: $text;
				margin-bottom: 0;

				strong {
					text-transform: uppercase;
					margin-left: 8px;
				}

				img {
					display: block;
					height: 16px;
					width: auto;
					margin-left: 8px;
				}
			}

			.tag-container {
				height: 30px;
				display: flex;
				align-items: center;
				border-left: 1px solid #CCCCCC;
				padding-left: 15px;
				margin-left: 15px;
				border-right: 1px solid #CCCCCC;
				padding-right: 15px;
				margin-right: 15px;
				margin-bottom: 0;

				.tag {
					margin-right: 10px;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}

			.author-info {
				max-width: 410px;
				width: 100%;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				line-height: 14px;

				.author-pic {
					display: block;
					height: auto;
					width: 100%;
					max-width: 50px;
					border-radius: 4px;
					margin-right: 8px;
				}

				.author-details {
					margin-top: auto;
					font-size: 12px;
					color: $text;
				}
			}
		}
	}
}


@media only screen and (min-width: 990px) {
	.single-post-container {
		.page-info {
			.tag-container {
				margin-right: auto;
				padding: 0;
				border: 0;
			}
		}
	}
}


@media only screen and (min-width: 900px) {
	.single-post-container {
		.post-inner {
			display: flex;
		}

		.content {
			width: calc(100% - 430px);

			.featured-image, .image-caption {
				display: none;
			}
		}

		.sidebar {
			max-width: 410px;
			width: 100%;
			margin-left: 20px;
			margin-top: 0;

			.featured-image {
				display: block;
				max-width: 100%;
				margin-bottom: 35px;
				border-radius: 6px;

				&.caption-present {
					margin-bottom: 10px;
				}
			}

			.image-caption {
				display: block;
				font-size: 14px;
				margin-bottom: 35px;
			}


			h4 {
				display: none;
			}
		}
	}
}

.single-post-container {
	ul, ol {
		margin: 0px 0px 30px 20px;

		li {
			&:not(:last-of-type) {
				margin-bottom: 5px;
			}
		}
	}

	ul {
		list-style: disc;

		li {
			list-style: disc;
			&:before {
				display: none;
			}
		}
	}

	ol {
		list-style: decimal;
	}

	em {
		font-style: italic;
	}
}
