.sitemap-page {
	border-top: 1px solid #DEDEDE;
	padding: 90px 0 50px 0;

	h1 {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	.sitemap-columns {
		.sitemap-col {
			width: 100%;
			margin-bottom: 60px;

			h4 {
				font-size: 26px;
				font-weight: 500;
				margin-bottom: 25px;
			}

			h2, .wsp-posts-title, .wsp-category-title {
				display: none;
			}

			&.blog-col {
				ul {
					li {
						&:before {
							content: none;
						}

						li {
							&:before {
								font-size: 20px;
								margin-right: 10px;
							  	content: "\2022";
							  	color: #707070;
							  	font-weight: bold;
							  	display: inline-block;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	.sitemap-page {
		padding: 90px 0 50px 0;

		h1 {
			font-size: 38px;
			margin-bottom: 40px;
		}

		.sitemap-columns {
			display: flex;
			flex-wrap: wrap;

			.sitemap-col {
				width: calc(50% - 30px);
				margin-right: 60px;
				margin-bottom: 40px;

				&:nth-of-type(2n) {
					margin-right: 0;
				}
			}
		}
	}
}
