.thank-you-container {
	padding: 80px 15px;
	text-align: center;

	h1 {
		font-size: 60px;
		line-height: 65px;
		font-weight: bold;
		margin-bottom: 50px;
	}

	p {
		max-width: 800px;
		margin: 0 auto 40px auto;
	}

	form {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
		position: relative;

		input {
			border: 1px solid $red-a;
			width: 100%;
			border-radius: 4px;
		}

		button {
			cursor: pointer;
			top: 12.5px;
			right: 16px;
			height: 24px;
			width: 24px;
			background: url('../library/images/search-icon.svg') center / contain no-repeat;
			position: absolute;
			border: 0;
		}

		input[type="search"]::-webkit-search-cancel-button {
		  display: none;
		}

		::-webkit-input-placeholder {
		  color: #999;
		  font-style: italic;
		}
		::-moz-placeholder {
		  color: #999;
		  font-style: italic;
		}
		:-ms-input-placeholder {
		  color: #999;
		  font-style: italic;
		}
		:-moz-placeholder {
		  color: #999;
		  font-style: italic;
		}
	}
}
