.section_introduction.zero-by-40-intro {
	flex-direction: column;

	.left-col {
		display: none;
		order: 2;

		.zero-by-40-intro-content {
			.content {
				max-width: 700px;
			}
		}
	}

	.zbf-logo {
		flex-shrink: 0;
		max-width: 400px;
		width: 100%;
		display: block;
		order: 1;
		margin: 0 auto;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}

@media only screen and (min-width: 900px) {
.section_introduction.zero-by-40-intro {
	flex-direction: row;
	align-items: center;

		.left-col {
			display: block;
			order: 1;
		}

		.zbf-logo {
			margin: 0;
		}

		a {
			order: 2;
			margin-bottom: 0;
		}
	}
}

.grid-container {
	.zero-by-40-header {
		display: block;
		margin-bottom: 21px;
		padding: 0;

		img {
			display: block;
			width: 100%;
			height: auto;
		}

		a {
			display: block;
			height: 100%;
			width: 100%
		}
	}
}

