.newsletter-sign-up {
	background: #121211;
	padding: 30px 0;

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 940px;
	}

	h3 {
		width: 100%;
		text-align: center;
		font-weight: 400;
		font-size: 22px;
		color: #FFF;
		margin: 0 0 20px 0;
		flex-shrink: 0;
	}

	.wpcf7 {
		width: 100%;
	}

	.wpcf7-form {
		position: relative;
		width: 100%;

		p {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
		}

		input {
			width: 100%;
		}

		.wpcf7-form-control-wrap {
			width: 100%;

			&.your-name {
				margin-bottom: 10px;
			}
		}

		.wpcf7-submit {
			border: 0;
			background: #b5271e	;
			color: #FFF;
			max-width: 140px;
			margin: 10px auto 0 auto;
			color: #FFF;
			font-size: 24px;
			cursor: pointer;
			transition: .5s all;

			&:hover {
				opacity: 0.8;
			}

			&:focus {
				border: 1px solid #fff;
			}
		}

		.wpcf7-response-output {
			display: none!important;
		}

		.wpcf7-not-valid-tip {
			font-size: 12px;
			margin-top: 0;
		}

		.ajax-loader {
			position: absolute;
			right: 0;
			bottom: -22px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.newsletter-sign-up {
		.wpcf7-form {
			p {
				flex-wrap: nowrap;
			}

			.wpcf7-form-control-wrap {
				&.your-name {
					margin-bottom: 0;
					margin-right: 20px;
				}

				&.email-address {
					margin-right: 20px;
				}
			}

			.wpcf7-submit {
				margin: 0;
			}

			.wpcf7-not-valid-tip {
				position: absolute;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.newsletter-sign-up {
		.wrap {
			flex-wrap: nowrap;
		}

		h3 {
			text-align: left;
			width: auto;
			max-width: 200px;
			margin: 0 20px 0 0;
		}

		.wpcf7 {
			max-width: 725px;
		}

		.wpcf7-form {
			input {
				width: 100%;
			}

			.wpcf7-form-control-wrap {
				&.your-name {
					max-width: 215px;
				}

				&.email-address {
					max-width: 332px;
				}
			}

			.wpcf7-response-output {
				position: absolute;
			}

			.wpcf7-not-valid-tip {
				position: absolute;
			}
		}
	}
}

footer {
	padding: 45px 0 60px 0;
	background: #212529 url('../library/images/footer.jpg') center / cover;
	color: #FFF;
	line-height: 21px;

	.wrap {
		display: flex;
		flex-wrap: wrap;
	}

	.col {
		margin-right: auto;

		ul {
			margin: 0;
			list-style: none;

			li {
				margin: 0;
				padding: 0;
				transition: .5s all;
				opacity: 0.5;

				a {
					color: #FFF;
				}

				&:before {
					content: none;
				}

				&.current_page_item, &:hover {
					opacity: 1;
				}
			}
		}

		p {
			opacity: 0.5;

			a {
				color: #FFF;
				transition: .5s all;

				&:hover {
					opacity: 1;
				}
			}
		}

		&:nth-of-type(2) {
			display: none;
		}

		&.nav {
			.mobile-links {
				margin-top: 19px;

				a {
					font-size: 13px;
					opacity: 0.5;
					display: block;
					color: #FFF;
					transition: .5s all;

					&:hover {
						opacity: 1;
					}
				}
			}
		}

		&:last-of-type {
			display: flex;
			flex-direction: column;
			margin-right: 0;
			margin-left: auto;
			align-items: flex-end;

			img {
				margin-bottom: 25px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		.copyright {
			font-size: 16px;
			margin: 0;
		}

		.rowan-link {
			font-size: 13px;
		}

		.company-details {
			font-size: 10px;
			line-height: 12px;
			margin: 0;
			text-align: right;
		}

		.social-container {
			display: flex;
			margin-top: auto;
			margin-bottom: 30px;

			a {
				opacity: 0.35;
				font-size: 30px;
				display: block;
				margin-right: 20px;
				transition: .5s all;
				color: #FFF;

				&:last-of-type {
					margin: 0;
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	footer {
		.col {
			margin-right: 180px;

			&.nav {
				.mobile-links {
					display: none;
				}
			}

			&:nth-of-type(2) {
				display: block;
				margin: 0;
				width: auto;
				order: 2;

				p {
					font-size: 18px;
					line-height: 30px;
					opacity: 0.5;
					margin: 0;
					margin-bottom: 2px;
				}

				a {
					color: #FFF;
					font-size: 18px;
						margin-bottom: 5px;
					display: block;
					opacity: 0.5;
					transition: .5s all;

					&:hover {
						opacity: 1;
					}
				}
			}

			&:last-of-type {
				order: 3;
			}
		}
	}
}
