header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFF;
	z-index: 50;

	form {
		width: 100%;
		position: relative;

		input {
			border: 1px solid #E3E3DF;
			width: 100%;
			border-radius: 4px;
			transition: .5s all;

			&:focus {
				border: 1px solid $red-a;
			}
		}

		button {
			cursor: pointer;
			top: 12.5px;
			right: 16px;
			height: 24px;
			width: 24px;
			background: url('../library/images/search-icon.svg') center / contain no-repeat;
			position: absolute;
			border: 0;
		}

		input[type="search"]::-webkit-search-cancel-button {
		  display: none;
		}

		::-webkit-input-placeholder {
		  color: #999;
		  font-style: italic;
		}
		::-moz-placeholder {
		  color: #999;
		  font-style: italic;
		}
		:-ms-input-placeholder {
		  color: #999;
		  font-style: italic;
		}
		:-moz-placeholder {
		  color: #999;
		  font-style: italic;
		}
	}

	.top-row {
		position: relative;
		z-index: 12;
		padding: 20px 0 10px 0;
		background:  $grey-a;

		.wrap {
			display: flex;
			align-items: center;

			.logo {
				display: block;
				height: 30px;
				width: 88px;
				background: url('../library/images/logo.svg') center / contain no-repeat;
				text-indent: -99999px;
				margin-right: auto;
			}

			form {
				display: none;
			}
		}
	}

	&.active-nav{
		z-index: 10;
	}

	#searchsubmit {
		text-indent: -9999px;
		overflow: hidden;
	}
}

.skip-to-content-link {
  	background: #B5271E;
  	color: #fff;
  	height: 30px;
  	left: 50%;
  	top: 0;
  	padding: 8px;
  	position: absolute;
  	transform: translateY(-100%);
  	transition: transform 0.3s;
  	z-index: 100;
  	border: 0;
  	border-radius: 0;

  	&:focus {
  		transform: translateY(0%);
  	}
}

@media only screen and (min-width: 1024px) {
	header {
		.top-row {
			padding: 40px 0 25px 0;
			transition: .5s all;

			.wrap {
				.logo {
					height: 45px;
					width: 125px;
					transition: .5s all;
				}

				form {
					display: block;
					max-width: 305px;
				}
			}
		}

		&.condensed {
			.top-row {
				padding: 5px 0;

				.wrap {
					.logo {
						height: 45px;
						width: 100px;
					}

					form {
						display: block;
						max-width: 305px;

						input {
							font-size: 16px;
							height: 40px;
						}

						button {
							top: 10px;
							right: 10px;
							height: 20px;
							width: 20px;
						}
					}
				}
			}
		}
	}

	.home {
		header {
			position: relative;
			background: $grey-a;
			margin-bottom: 55px;
		}

		.fixed-header {
			position: fixed;
			width: 100%;
			top: -250px;
			transition: .5s all;

			&.active {
				top: 0;
			}
		}
	}
}
