.nav-icon {
	width: 30px;
	height: 20px;
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	margin-left: auto;
	z-index: 12;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $red-a;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 0px;
		}

		&:nth-child(2), &:nth-child(3) {
			top: 8px;
		}

		&:nth-child(4) {
			top: 16px;
		}
	}

	&.open span {
		&:nth-child(1) {
			top: 18px;
			width: 0%;
			left: 50%;
		}

		&:nth-child(2) {
			transform: rotate(45deg);
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}

		&:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: auto;
	background:  $grey-a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: .5s all;
	padding: 70px 20px 100px 20px;
	z-index: 10;

	form {
		margin-bottom: 20px;
	}

	.menu{
		margin-bottom: 0;
		width: 100%;

		li {
			display: flex;
			font-size: 20px;
			font-weight: 300;
			color: $text;
			list-style: none;
			margin: 0;
			border-bottom: 1px solid rgba(112, 112, 112, 0.2);
			justify-content: flex-end;
			width: 100%;

			a {
				color: $text;
				display: flex;
				align-items: center;
				padding: 12px 0;
			}

			&:before {
				content: none;
			}

			&.menu-item-home {
				display: none;
			}
		}
	}

	&.active-nav {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

@media only screen and (min-width: 1024px) {
	.nav-icon {
		display: none;
	}

	nav {
		position: relative;
		top: auto;
		left: auto;
		height: auto;
		width: auto;
		overflow: auto;
		background: none;
		padding: 0;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		overflow: visible;
		transition: .5s all;

		form {
			display: none;
		}

		.menu {
			position: relative;
			background: none;
			height: auto;
			display: flex;
			justify-content: space-between;
			padding: 20px 0px;
			border-bottom: 1px solid #B5271E;

			li {
				display: block;
				width: auto;
				position: relative;
				font-size: 16px;
				transition: .5s all;
				border: 0;

				a {
					display: block;
					width: auto;
					padding: 0;
					border: none;
				}

				&:before {
					content: none;
				}

				&.menu-item-home {
					display: none;
				}

				&:after {
					content: ' ';
					background: $red-a;
					height: 4px;
					position: absolute;
					bottom: -20px;
					left: 0;
					width: 100%;
					transform: scaleX(0);
					transition: .5s all
				}

				&:hover, &.current_page_item {
					&:after {
						transform: scaleX(1);
					}
				}

				&:hover {
					color: $red-a;
				}
			}
		}
	}

	.condensed {
		nav {
			.menu {
				padding: 5px 0px;

				li {
					font-size: 16px
					;
					&:after {
						bottom: -6px;
					}
				}
			}
		}
	}
}

