a.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	background: $red-a;
	border-radius: 4px;
	height: 50px;
	text-align: center;
	min-width: 190px;
	padding: 0 20px;
	transition: .5s all;
	font-weight: 400;

	&:hover {
		background: $red-b;
	}
}
