.wpcf7-form-control-wrap {
	position: relative;

	&.invalid-field {
		&:after {
			pointer-events: none;
			position: absolute;
			right: 10px;
			top: calc(50% - 7px);
			content: '';
			height: 25px;
			width: 25px;
			background: url('../library/images/cross.svg') center / contain no-repeat;
		}

		input {
			border: 1px solid $red-a;
		}
	}
	&.valid-field {
		&:after {
			pointer-events: none;
			position: absolute;
			right: 10px;
			top: calc(50% - 7px);
			content: '';
			height: 25px;
			width: 25px;
			background: url('../library/images/tick.svg') center / contain no-repeat;
		}

		input, select, textarea {
			border: 1px solid #69c17c;
		}
	}

	&.your-message {
		&.valid-field, &.invalid-field {
			&:after {
				top: 20px;
			}
		}
	}
}

.newsletter-popup, .newsletter-sign-up {
	.wpcf7-form-control-wrap {
		&.invalid-field {
			&:after {
				top: calc(50% - 12px);
				height: 20px;
				width: 20px;
			}
		}
		&.valid-field {
			&:after {
				top: calc(50% - 12px);
				height: 25px;
				width: 25px;
			}
		}
	}
}

input {
	font-family: $font-default;
	font-size: 18px;
	font-weight: 300;
	-webkit-appearance: none;
	appearance: none;
	background: #FFF;
	border: 1px solid $grey-b;
	border-radius: 4px;
	height: 50px;
	padding-left: 15px;
	outline: 0;

	&:focus {
		border-color: $text;
	}
}

textarea {
	border: 1px solid $grey-b;
	border-radius: 4px;
}
