/* GENERAL LAYOUT
================================================ */
	body {
		padding-top: 90px;
		color: $text;
	}

	@media only screen and (max-width: 1024px) {
		html, body {
			&.noscroll {
				height: 100%;
				position: relative;
				overflow: hidden;
			}
		}
	}

	@media only screen and (min-width: 1024px) {
		body {
			padding-top: 0;

			&.fixedheaderactive {
				padding-top: 785px;
			}
		}
		body:not(.home) {
			padding-top: 205px;
		}
	}

	.wrap {
		max-width: 1320px;
		margin: 0 auto;
		padding: 0 20px;
	}

	.tag {
		position: relative;
		z-index: 2;
		display: inline-flex;
		align-items: center;
		height: 16px;
		min-width: 50px;
		padding: 0 12px 0 12px;
		text-transform: uppercase;
		font-size: 10px;
		background: #F4F4F4;
		border-radius: 10px;
	}

/* LOADER
================================================ */
.page-loader {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	transition: all .8s ease;
	opacity: 1;
	visibility: visible;

	&--hidden {
		opacity: 0;
		visibility: hidden;
	}

	&--change {
		opacity: 1;
		visibility: visible;
	}
}


.anchor-link {
	display: block;
	position: relative;
	top: -100px;
}

@media only screen and (min-width: 1024px) {
	.anchor-link {
		top: -200px;
	}
}


/* Blog image styling
================================================ */
	img.alignright,img.alignleft,img.aligncenter, img.alignnone {
		display: block;
		max-width: 100%;
		height: auto;
	}


	img.alignright {margin: 1em 0;}
	img.alignleft {margin:1em 0;}
	img.alignnone {margin: 1em 0;}
	img.aligncenter {display: block; margin: 1em}
	a img.alignright {float:right; margin:0 0 1em 1em}
	a img.alignleft {float:left; margin:0 1em 1em 0}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto}


	 @media only screen and (min-width: 768px) {
		img.alignright {float:right; margin:0 0 1em 1em}
		img.alignleft {float:left; margin:0 1em 1em 0}
		img.aligncenter {display: block; margin-left: auto; margin-right: auto}
		a img.alignright {float:right; margin:0 0 1em 1em}
		a img.alignleft {float:left; margin:0 1em 1em 0}
		a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

		 .section {
		 	padding: 65px 0;
		 }
	 }
