@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700,900');

/* Font stacks
================================================ */
	$font-default: 'Roboto', sans-serif;

/* Base Typography
================================================ */
	body {
		font-weight: 300;
		font-family: $font-default;
		font-size: 16px;
		color: $text;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	strong {
		font-weight: bold;
	}

	sup {
		vertical-align: super;
  	 	font-size: smaller;
	}

	sub {
		vertical-align: sub;
  	 	font-size: smaller;
	}

	h1, h2, h3, h4, h5 {
		color: $text;
	}

	h1 {
		font-size: 30px;
		line-height: 36px;
		font-weight: bold;
		margin-bottom: 21px;
	}

	h2 {
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 22px;
	}

	h3 {
		font-size: 36px;
		font-weight: 300;
		margin-bottom: 22px;
	}

	h4 {
		font-size: 24px;
		line-height: 28px;
		font-weight: 300;
		margin-bottom: 30px;
	}

	h5 {
		font-size: 18px;
		font-weight: 18px;
	}

	a {
		color: $red-a;
	}

	p {
		line-height: 19px;
		margin-bottom: 18px;
	}

	@media only screen and (min-width: 600px) {
		body {
			font-size: 18px;
		}

		h1 {
			font-size: 48px;
			line-height: 52px;
			font-weight: bold;
			margin-bottom: 21px;
		}

		p {
			line-height: 24px;
			margin-bottom: 18px;
		}
	}

	ol, ul {
		margin-bottom: 18px;
		line-height: 24px;
	}

	ol {
		list-style: decimal;
		margin-left: 20px;

		li {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	ul {
		list-style: none;

		li {
			margin-bottom: 20px;

			&:before {
				font-size: 20px;
				margin-right: 10px;
			  	content: "\2022";
			  	color: $text;
			  	font-weight: bold;
			  	display: inline-block;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	em {
		font-style: italic;
	}

/* Links
================================================ */
	a {
		color: inherit;
		text-decoration: none;
	}

	a {
		color: $red-a;
	}


.content {
	a {
		text-decoration: underline;
	}
}