$grey-a: #F1F1EA;
$grey-b: #D8D7D1;
$grey-c: #6F6F6F;
$grey-d: #434343;

$red-a: #AF272F;
$red-b: #720E14;

$green-a: #97CA51;
$green-b: #548313;

$orange-a: #ED8800;
$orange-b: #A86202;

$blue-a: #6CACE4;
$blue-b: #2E74B1;

$purple-a: #BA9CC5;
$purple-b: #330072;

$teal-a: #009CA6;
$teal-b: #00635B;

$yellow: #f0ae42;

$text : #080808;
