.boards_and_committees {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	h3 {
		width: 100%;
	}

	.left-col {
		order: 2;
	}

	.members {
		order: 1;
		width: 100%;
		margin-bottom: 30px;

		.member {
			font-size: 14px;
			line-height: 16px;
			display: flex;
			margin-bottom: 15px;

			.member-pic {
				display: block;
				height: 75px;
				width: 75px;
				margin-right: 22px;
				border-radius: 4px;
			}

			.content {
				width: calc(100% - 97px);

				strong {
					display: block;
				}
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

@media only screen and (min-width: 660px) {
	.boards_and_committees {
		flex-direction: row;

		.left-col {
			order: 1;
			width: calc(100% - 335px);
		}

		.members {
			order: 2;
			max-width: 305px;
			margin-left: 30px;
		}
	}
}
