.call_out_-_features_quote {
	background: #F8F8F5;
	padding: 20px;
	border-radius: 12px;

	.content-container {
		.image {
			height: 375px;
			max-width: 500px;
			width: 100%;
			margin-bottom: 20px;
			border-radius: 6px;
		}

		img {
			display: block;
			max-width: 500px;
			width: 100%;
			height: auto;
			margin-bottom: 20px;
			border-radius: 6px;
		}
	}

	.quote {
		margin-top: 50px;
		font-size: 43px;
		font-style: italic;
		color: #434343;
	}
}

@media only screen and (min-width: 930px) {
	.call_out_-_features_quote {
		padding: 30px;

		.content-container {
			display: flex;
			align-items: flex-start;

			.image {
				margin-bottom: 0px;
				margin-right: 20px;
			}

			img {
				margin-right: 20px;
				margin-bottom: 0px;
			}

			.content {
				max-width: 480px;
			}
		}

		.quote {
			max-width: 630px;
			margin-left: auto;
		}

		&.image-right {
			.content-container {
				display: flex;

				.image, img {
					order: 2;
					margin-left: 20px;
				}

				.content {
					order: 1;
				}
			}
		}
	}
}
