.call_out_-_general {
	background: #F8F8F5;
	padding: 25px 15px;
	border-radius: 12px;

	.content-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.image {
			height: 375px;
			max-width: 450px;
			width: 100%;
			border-radius: 6px;
			margin: 0 auto;
			margin-bottom: 50px;
		}

		img {
			margin: 0 auto;
			display: block;
			max-width: 450px;
			width: 100%;
			height: auto;
			margin-bottom: 50px;
		}
	}
}

@media only screen and (min-width: 930px) {
	.call_out_-_general {
		padding: 30px;

		.content-container {
			flex-direction: row;
			align-items: flex-start;

			.image {
				margin: 0;
				margin-right: 20px;
			}

			img {
				margin: 0;
				margin-right: 20px;
			}

			.content {
				max-width: calc(100% - 470px);
			}
		}

		&.image-right {
			.content-container {
				display: flex;

				.image, img {
					order: 2;
					margin-left: 20px;
					margin-right: 0;
				}

				.content {
					order: 1;
				}
			}
		}
	}
}
