.download-block {
	.content {
		width: 100%;
		margin-bottom: 30px;
	}

	.download-column {
		width: 100%;
	}

	.single-download {
		display: flex;
		border-bottom: 1px solid $red-a;
		padding-bottom: 12px;
		margin-bottom: 12px;

		.pdf-icon {
			display: block;
			max-width: 45px;
			width: 100%;
			height: auto;
			margin-bottom: auto;
			margin-right: 15px;
		}

		.paper-content {
			font-size: 14px;

			p {
				line-height: 18px;
				margin-bottom: 5px;

				strong {
					font-weight: 500;
					display: block;
				}

				span {
					text-transform: uppercase;
				}
			}

			.paper-actions {
				height: 14px;
				display: flex;
				align-items: center;

				.download {
					height: 100%;
					font-weight: bold;
					color: $red-a;

					a {
						height: 100%;
						display: flex;
						align-items: center;
					}

					img {
						margin-left: 5px;
						width: auto;
						height: 12px;
					}
				}
			}
		}

		&:last-of-type {
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
}

@media only screen and (min-width: 768px) {
	.download-block {
		.inner-container {
			display: flex;
		}

		.content {
			max-width: 615px;
			margin-right: 30px;
			margin-bottom: 0;
		}

		.download-column {
			max-width: 400px;
		}
	}
}
