.feature_-_overview {
	background: #F8F8F5;
	padding: 25px;
	border-radius: 12px;

	.upper-content-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 35px;
		padding-bottom: 35px;
		border-bottom: 2px solid #E3E3DF;

		.image {
			order: 2;
			height: 375px;
			max-width: 500px;
			width: 100%;
			border-radius: 6px;
			margin-bottom: 20px;
		}

		img {
			order: 2;
			margin: 0 auto;
			display: block;
			max-width: 450px;
			width: 100%;
			height: auto;
			margin-bottom: 20px;
		}
	}

	.lower-content-container {
		display: flex;
		flex-direction: column;

		.image-col {
			width: 100%;
			margin-top: 30px;

			.image {
				width: 100%;
				height: 225px;
				margin-bottom: 20px;
				border-radius: 6px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}


@media only screen and (min-width: 500px) {
	.feature_-_overview {
		.lower-content-container {
			.image-col {
				.image {
					width: 100%;
					height: 300px;
				}
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	.feature_-_overview {
		.lower-content-container {
			.image-col {
				display: flex;
				justify-content: space-around;

				.image {
					width: 300px;
					height: 150px;
					margin-bottom: 0;
					margin-right: 10px;

					&:last-of-type {
						margin: 0;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature_-_overview {
		.lower-content-container {
			.image-col {
				.image {
					width: 300px;
					height: 200px;
				}
			}
		}
	}
}

@media only screen and (min-width: 930px) {
	.feature_-_overview {
		padding: 30px 40px 50px 40px;

		.upper-content-container {
			display: flex;
			flex-direction: row;
			align-items: flex-start;

			.image {
				height: 375px;
				max-width: 500px;
				width: 100%;
				margin-left: 20px;
				border-radius: 6px;
			}

			img {
				margin: 0 auto;
				display: block;
				max-width: 450px;
				width: 100%;
				height: auto;
				margin-left: 20px;
			}

			.content {
				max-width: calc(100% - 470px);
			}
		}

		.lower-content-container {
			display: flex;
			flex-direction: row;

			.content {
				width: 100%;
				column-count: 2;
				column-gap: 45px;
			}

			.image-col {
				display: block;
				margin-left: 15px;
				margin-top: 0;
				max-width: 225px;

				.image {
					max-width: 225px;
					width: 100%;
					height: 225px;
					margin-bottom: 20px;
					border-radius: 6px;

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}

		&.image-left {
			.upper-content-container {
				display: flex;

				.image, img {
					order: 1;
					margin-right: 20px;
					margin-left: 0;
				}

				.content {
					order: 2;
				}
			}
		}
	}
}
