.funding-block {
	border-radius: 12px;

	p {
		margin-bottom: 30px;
	}

	.partners-container {
		display: flex;
		flex-direction: column;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;

			img {
				max-width: 100%;
				height: auto;
				display: block;
				max-height: 100px;
			}
		}

	}
}

@media only screen and (min-width: 600px) {
	.funding-block {
		.partners-container {
			flex-direction: row;
			flex-wrap: wrap;

			a {
				width: 50%;
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	.funding-block {
		.partners-container {
			flex-direction: row;
			flex-wrap: wrap;

			a {
				margin-right: 15px;
				width: calc(20% - 12px);

				&:nth-of-type(5n) {
					margin-right: 0px;
				}
			}

			&.three-icons {
					a {
					width: calc(33.3333% - 12px);

					&:nth-of-type(3n) {
						margin-right: 0;
					}

					&:nth-of-type(4n) {
						margin-right: 15px;
					}

					&:nth-of-type(5n) {
						margin-right: 15px;
					}
				}
			}

			&.four-icons {
				a {
					width: calc(25% - 12px);

					&:nth-of-type(3n) {
						margin-right: 15px;
					}

					&:nth-of-type(4n) {
						margin-right: 0;
					}

					&:nth-of-type(5n) {
						margin-right: 15px;
					}
				}
			}
		}
	}
}
