.general_text {
	.button-container {
		.btn {
			margin-bottom: 15px;
		}
		}
}

@media only screen and (min-width: 768px) {
	.general_text {
		&.two {
			display: flex;
			flex-wrap: wrap;
		}

		h3 {
			width: 100%;
		}

		.intro-content {
			width: 100%;
		}

		.left-col, .right-col {
			width: calc(50% - 20px);
		}

		.left-col {
			margin-right: auto;
		}

		.button-container {
			.btn {
				margin-bottom: 0;
				margin-right: 15px;

				&:last-of-type {
					margin: 0;
				}
			}
		}
	}
}
