.image-block {
	background: #F8F8F5;
	border-radius: 12px;
	padding: 25px 20px 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 600px) {
	.image-block {
		img {
			max-width: calc(50% - 10px);
		}
	}
}
