.page_introduction {
	.icon-title {
		display: block;
		margin-bottom: 30px;
		max-width: 340px;
		width: 100%;
		height: auto;
	}

	.page-info {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		border-bottom: 1px solid #E3E3DF;
		padding-bottom: 17px;
		margin-bottom: 40px;
		font-size: 14px;
		line-height: 16px;
		color: $text;

		strong {
			text-transform: uppercase;
			margin-left: 8px;
		}

		img {
			display: block;
			height: 16px;
			width: auto;
			margin-left: 8px;
		}

		.read-time {
			display: flex;
			align-items: center;
			height: 100%;
			margin-bottom: 15px;
		}

		.tag-container {
			height: 28px;
			display: flex;
			align-items: center;

			.tag {
				margin-right: 10px;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		.download {
			margin-top: 10px;
			width: 100%;

			a {
				height: 28px;
				display: flex;
				align-items: center;
			}

			strong {
				margin-left: 0;
			}

			img {
				height: 17px;
			}
		}
	}

	.content {
		img {
			display: block;
			margin: 0 auto 20px;
			max-width: 350px;
			height: auto;
		}
	}
}

@media only screen and (min-width: 550px) {
	.page_introduction {
		.page-info {
			flex-direction: row;
			height: 48px;

			.tag-container {
				height: 28px;
				display: flex;
				align-items: center;
				border-left: 1px solid #CCCCCC;
				padding-left: 15px;
				margin-left: 15px;

				.tag {
					margin-right: 10px;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}

			.download {
				width: auto;
				border-left: 1px solid #CCCCCC;
				padding-left: 15px;
				margin-left: 15px;
				margin-top: 0;

				a {
					height: 28px;
					display: flex;
					align-items: center;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.page_introduction {
		.content {
			img {
				display: block;
				margin: 0 50px 50px 0;
				max-width: 400px;
				width: 100%;
			}
		}
	}
}
