.research_papers {
	background: #F8F8F5;
	border-radius: 12px;
	padding: 25px;

	.intro-content {
		margin-bottom: 35px;
	}

	.papers-carousel {
		.research-paper {
			display: flex;
			flex-direction: column;
			width: 100%;
			border-bottom: 1px solid $red-a;
			padding-bottom: 15px;
			margin-bottom: 50px;
			align-items: flex-start;

			.pdf-icon {
				display: block;
				max-width: 35px;
				width: 100%;
				height: auto;
				margin-right: 15px;
			}

			.paper-content {
				display: flex;
				align-items: flex-start;
				width: 100%;
				font-size: 14px;
				line-height: 16px;

					p {
						margin-bottom: 0;
					}
				}

				.paper-actions {
					margin-top: 15px;
					height: 20px;
					display: flex;
					align-items: center;
					padding-left: 50px;
					font-size: 14px;

					.view {
						color: $red-a;
						margin-right: 20px;
						border-right: 1px solid #CCC;
						padding-right: 20px;
						cursor: pointer;
						transition: .5s all;

						&:hover {
							font-weight: bold;
						}
					}

					.download {
						height: 100%;
						font-weight: bold;
						color: $red-a;

						a {
							height: 100%;
							display: flex;
							align-items: center;
						}

						img {
							margin-left: 5px;
							width: auto;
							height: 18px;
						}
					}
				}


			&:last-of-type {
				margin-right: 0;
				margin-bottom: 0;
			}
		}

		.owl-dots {
			display: flex;
			justify-content: center;
		    counter-reset: dots;

		    &.disabled {
		    	display: none;
		    }

			.owl-dot {
				border-bottom: 1px solid #F8F8F5;
				margin-right: 10px;
				padding: 0 0 8px 0!important;
				transition: .5s all;
				outline: 0;

				&:last-of-type {
					margin-right: 0;
				}

				&.active, &:hover {
					border-bottom: 1px solid $red-a;
				}

				&:before {
				    counter-increment:dots;
				    content: counter(dots);
				}
			}
		}
	}
}

@media only screen and (min-width: 700px) {
	.research_papers {
		padding: 35px 40px 25px 40px;

		.papers-carousel {
			.inner-container {
				display: flex;
				flex-wrap: wrap;
				width: 100%
			}

			.research-paper {
				width: calc(50% - 17.5px);
				margin-right: 33.5px;

				&:last-of-type, &:nth-of-type(2n) {
					margin-right: 0;
					margin-bottom: 50px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1260px) {
	.research_papers {
		.papers-carousel {
			.research-paper {
				display: flex;
				width: calc(33.33333% - 22.5px);

				&:nth-of-type(2n) {
					margin-right: 33.5px;
				}

				&:last-of-type, &:nth-of-type(3n) {
					margin-right: 0;
				}
			}
		}
	}
}
