.strategy {
	.lower-section {
		.content-col {
			width: 100%;
			margin-bottom: 30px;
		}

		.image {
			margin: 0 auto;
			width: 100%;
			max-width: 480px;
			height: 375px;
		}

		img {
			margin: 0 auto;
			max-width: 100%;
			height: auto;
			display: block;
		}
	}
}

@media only screen and (min-width: 1110px) {
	.strategy {
		.lower-section {
			display: flex;
			align-items: flex-start;

			.content-col {
				margin-bottom: 0;
				margin-right: 50px;
			}

			.image, img {
				margin: 0;
			}
		}
	}
}
