.team-members {
	.team-members-grid {
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;

		.team-member {
			width: calc(33.33333% - 14px);
			margin-right: 20px;
			margin-bottom: 20px;

			p {
				display: none;
			}

			.profile-picture {
				position: relative;
				width: 100%;
				height: 100px;
				border-radius: 6px;
				margin-bottom: 15px;

				a {
					position: relative;
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.overlay {
					display: none;
				}
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
}

@media only screen and (min-width: 480px) {
	.team-members {
		.team-members-grid {
			.team-member {
				.profile-picture {
					height: 197px;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.team-members {
		.team-members-grid {
			.team-member {
				width: calc(25% - 15px);

				&:nth-of-type(3n) {
					margin-right: 20px;
				}

				&:nth-of-type(4n) {
					margin-right: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.team-members {
		.team-members-grid {
			.team-member {
				width: calc(20% - 17px);

				p {
					display: block;
				}

				.profile-picture {
					.overlay {
						position: absolute;
						background: rgba(181, 39, 30, .7);
						height: calc(100% - 15px);
						width: calc(100% - 15px);
						border-radius: 6px;
						display: flex;
						align-items: flex-end;
						justify-content: flex-start;
						color: #FFF;
						font-size: 16px;
						top: 7.5px;
						left: 7.5px;
						padding: 15px 30px 13px 13px;
						opacity: 0;
						visibility: hidden;
						transition: .5s all;

						p {
							line-height: 14px;
							font-size: 14px;
							margin-bottom: 0;
						}

						&:after {
							content: ' ';
							position: absolute;
							bottom: 13px;
							right: 15px;
							background: url('../library/images/profile-icon.svg') center / contain no-repeat;
							height: 26px;
							width: 33px;
						}
					}

					&:hover {
						.overlay {
							opacity: 1;
							visibility: visible;
						}
					}
				}

				&:nth-of-type(4n) {
					margin-right: 20px;
				}

				&:nth-of-type(5n) {
					margin-right: 0;
				}
			}
		}
	}
}
