.grid-container {
	background: #f2f2ef;
	padding: 50px 20px 50px 20px;

	&.related-grid {
		padding: 65px 0 55px 0;

		h2 {
			margin-bottom: 30px;
		}
	}
}

.grid {
	padding: 0;

	.grid-sizer {
		width: 6.866%;
	}

	.gutter-sizer {
		width: 20px;
	}

	.grid-col {
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		height: 400px;
		overflow: hidden;
		width: 100%;
		background: #FFF;
		transition: 1s opacity;
		opacity: 1;
		margin-bottom: 20px;

		// &.fadeIn {
		// 	opacity: 1;
		// }

		a {
			display: flex;
			flex-direction: column;
			position: relative;
			height: 100%;
			width: 100%;

			&:focus {
				h3 {
					border: 2px solid #000;
				}
			}
		}

		&.new-post {
			&:before {
				content: '';
				height: 80px;
				width: 80px;
				position: absolute;
				top: 8px;
				left: 8px;
				background: url('../library/images/new-post-indicator.svg') center / contain no-repeat;
				z-index: 5;
				animation: newpulse 1.75s infinite forwards;
			}
		}

		@keyframes newpulse {
			0% {
				transform: scale(1);
			}

			50% {
				transform: scale(1.05);
			}

			100% {
				transform: scale(1);
			}
		}

		.tag-container {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			flex-wrap: wrap;
			position: absolute;
			top: 20px;
			right: 20px;
			max-width: 50%;
		}

		.tag {
			z-index: 2;
			display: inline-flex;
			margin-right: auto;
			align-items: center;
			justify-content: center;
			height: 16px;
			min-width: 50px;
			padding: 0 12px 0 12px!important;
			color: #FFF;
			text-transform: uppercase;
			font-size: 10px;
			border-radius: 10px;
			margin-right: 3px;
			margin-bottom: 3px;
			background: $red-a;
			width: auto;

			&.tag-one {
				background: $red-a;
			}
			&.tag-two {
				background: $green-a;
			}
		}

		.col-image {
			padding: 20px;
			position: relative;
			flex-basis: 80%;
			width: 100%;
			display: block;
			background: url('../library/images/filler.jpg') center / cover;
			transition: .5s all;

			&:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				opacity: 0;
				transition: .5s all;
				pointer-events: none;
			}
		}

		.col-content {
			padding: 30px;
			flex-basis: 20%;
			background: #FFF;
			transition: .5s all;
			color: $text;

			h3 {
				font-size: 28px;
				margin-bottom: 0;

				br {
					display: none;
				}
			}

			.readmore {
				margin-bottom: 0;
				font-weight: bold;
				//color: $green-a;
				color: $red-a;
			}
		}

		&:hover,
		&:focus {
			.col-image {
				transform: scale(1.05);
				flex-basis: 60%;

				&:after {
					background: $red-a;
					opacity: 0.4;
				}
			}

			.col-content {
				flex-basis: 40%;
			}
		}

		&.page-col {
			.col-image {
				flex-basis: 100%;
				height: 100%;
				width: 100%;
			}

			.col-content {
				padding: 30px;
				top: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				width: 100%;
				flex-basis: 100%;
				position: absolute;
				background: none;
				color: #FFF;
				z-index: 2;

				h3 {
					color: #FFF;
					font-size: 36px;
					line-height: 38px;
					font-weight: 500;
					margin-top: auto;

					br {
						display: block;
					}
				}
			}
		}

		&.post-col {
			.col-image {
				height: 40%;
			}

			.col-content {
				height: 60%;
				padding: 30px;

				h4 {
					line-height: 32px;
				}
			}

			h2,
			h3 {
				margin-bottom: 20px;
				font-weight: 300;
				font-size: 28px;
			}

			&.no-thumbnail {
				.col-content {
					padding: 30px;
					top: 0;
					left: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					height: 100%;
					width: 100%;
					flex-basis: 100%;
					position: absolute;
					background: none;
					color: #FFF;
					z-index: 2;

					h4 {
						color: #FFF;
						font-size: 36px;
						line-height: 38px;
						font-weight: 500;
						margin-top: auto;
						margin-bottom: 0;

						br {
							display: block;
						}
					}
				}
			}
		}

		&.events-col {
			.col-image {
				display: flex;
				align-items: center;
				justify-content: center;
				background: none;
				overflow: hidden;
				padding: 50px;
				border-bottom: 1px solid #F4F4F4;

				img {
					display: block;
					max-width: 100%;
					height: auto;
				}

				.virtual-event {
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    width: 100%;
				    padding: 5px 10px;
				    background: rgba(0,0,0,0.6);
				    color: #FFF;
				    font-size: 15px;
				   	text-align: center;
				    z-index: 5;
				}
			}

			strong {
				color: #b5271e;
			}

			h3,
			h2 {
				font-size: 20px;
				font-weight: 300;
			}

			.col-content {
				position: relative;
			}
		}

		&.job-vacancy-col {
			background: #B5271E;
			padding: 30px;

			a {
				display: flex;
				flex-direction: column;
			}

			h3 {
				font-size: 24px;
				font-weight: 400;
				color: #FFF;
				opacity: 0.7;

				&:first-of-type {
					margin-top: auto;
					margin-bottom: 8px;
					opacity: 1;
				}
			}

			h5 {
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: #FFF;
			}

			&.blue {
				background: $blue-a;
			}

			&.green {
				background: #00919c;
			}

			&.yellow {
				background: #f0ae42;
			}
		}

		&.bespoke-col {
			padding: 30px;
			color: #FFF;

			a.tag {
				justify-content: center;
				margin-bottom: 3px;
			}

			a {
				color: #FFF;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				margin-bottom: auto;
			}

			.content {
				width: 100%;
				transition: .25s all;

				img {
					margin-bottom: 30px;
					max-width: 100%;
				}

				h3 {
					opacity: 0.7;

					&:first-of-type {
						margin-top: auto;
						margin-bottom: 8px;
						opacity: 1;
					}
				}

				.readmore {
					font-weight: bold;
					color: #FFF;
					margin-bottom: 0;
				}
			}

			&.teal-gradient {
				background: rgb(0,145,156);
				background: -moz-linear-gradient(-45deg, rgba(0,145,156,1) 0%, rgba(0,82,87,1) 100%);
				background: -webkit-linear-gradient(-45deg, rgba(0,145,156,1) 0%,rgba(0,82,87,1) 100%);
				background: linear-gradient(135deg, rgba(0,145,156,1) 0%,rgba(0,82,87,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00919c', endColorstr='#005257',GradientType=1 );
			}

			&.purple-gradient {
				background: rgb(180,150,191);
				background: -moz-linear-gradient(-45deg, rgba(180,150,191,1) 0%, rgba(55,44,121,1) 100%);
				background: -webkit-linear-gradient(-45deg, rgba(180,150,191,1) 0%,rgba(55,44,121,1) 100%);
				background: linear-gradient(135deg, rgba(180,150,191,1) 0%,rgba(55,44,121,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b496bf', endColorstr='#372c79',GradientType=1 );
			}

			&.yellow-gradient {
				background: rgb(221,150,57);
				background: -webkit-linear-gradient(top left, rgb(240, 174, 66) 0%, rgba(158,78,41,1) 100%);
				background: -o-linear-gradient(top left, rgb(240, 174, 66) 0%, rgba(158,78,41,1) 100%);
				background: linear-gradient(to bottom right, rgb(240, 174, 66) 0%, rgba(158,78,41,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd9639', endColorstr='#9e4e29',GradientType=1 );
			}

			&.new-nets-project {
				.content {
					img {
						display: block;
						//max-width: 186px;
						height: auto;
					}
				}
			}

			&:hover {
				.content {
					transform: translateY(-15px);
				}

				// &.teal-gradient {
				// 	background: rgb(69,128,147);
				// 	background: -moz-linear-gradient(-45deg,  rgba(69,128,147,1) 0%, rgba(39,72,80,1) 100%);
				// 	background: -webkit-linear-gradient(-45deg,  rgba(69,128,147,1) 0%,rgba(39,72,80,1) 100%);
				// 	background: linear-gradient(135deg,  rgba(69,128,147,1) 0%,rgba(39,72,80,1) 100%);
				// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#458093', endColorstr='#274850',GradientType=1 );
				// }
			}
		}

		&.annual-reports {
			.annual-report-logo {
				position: absolute;
				right: 15px;
				top: 15px;

				img {
					display: block;
					max-width: 100px;
				}

				p {
					font-weight: bold;
					font-size: 16px;
					color: #FFF;
					margin: 0 0 0 30px;
				}
			}
		}
	}

	.play-icon {
		transform: translateY(2px);
		width: auto;
		height: 20px;
	}
}

@media only screen and (min-width: 630px) {
	.grid {
		.grid-sizer {
			width: 6.866%;
		}
		.gutter-sizer {
			width: 1.6%;
		}
		.grid-col {
			width: 49%;
			margin-bottom: 1.6%;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.grid {
		.grid-col {
			height: 400px;
			width: 15.332%;
			margin-bottom: 20px;

			&.bespoke-col {
				.content {
					width: 70%;

					img {
						margin-left: -60px;
						width: auto;
					}
				}
			}
		}
	}

	.grid {
		// ==== ROW A ==== //
		.row-a-grid-col-1 {
			width: 40.73%;
		}

		.row-a-grid-col-2 {
			width: 23.798%;
		}

		.row-a-grid-col-3 {
			width: 32.264%;
		}

		// ==== ROW B ==== //
		.row-b-grid-col-1 {
			width: 32.264%;
		}

		.row-b-grid-col-2 {
			width: 23.798%;
		}

		.row-b-grid-col-3 {
			width: 40.73%;
		}

		// ==== ROW C ==== //
		.row-c-grid-col-1, .row-c-grid-col-2, .row-c-grid-col-3 {
			width: 32.264%;
		}

		// ==== PROMO ROW A ==== //
		.promo-a-grid-col-1 {
			width: 49.1%;
		}

		.promo-a-grid-col-2 {
			width: 49.1%;
		}

		// ==== PROMO ROW B ==== //
		.promo-b-grid-col-1 {
			width: 32.264%;
		}

		.promo-b-grid-col-2 {
			width: 32.264%;
		}

		.promo-b-grid-col-3 {
			width: 32.264%;
		}

		// ==== PROMO ROW C ==== //
		.promo-c-grid-col-1 {
			width: 74.5%;
		}

		.promo-c-grid-col-2 {
			width: 23.798%;
		}
	}
}


@media only screen and (min-width: 1024px) {
	.page-template-page-market-access-overview {
		.grid {
			.grid-sizer {
				width: 0%;
			}
		}
		.row-a-grid-col-1 {
			width: 23%!important;
		}

		.bespoke-col {
			width: 36.9%!important;
		}
	}

	.page-template-page-careers-overview {
		.grid {
			.grid-sizer {
				width: 0%;
			}
		}

		.job-vacancy-col {
			width: 49.1%!important;
		}
	}

	.page-template-page-resources-overview {
		.resources-grid {
			.grid-col {
				width: 32.264%;
			}
		}
	}

	.page-template-page-news-overview {
		.grid {
			.grid-col {
				width: 32.264%;
			}
		}
	}
}

