.hp-masthead {
	display: none;
}

@media only screen and (min-width: 1024px) {
	.hp-masthead {
		display: block;
		position: relative;
		overflow: hidden;
		max-height: 550px;

		video {
			border-radius: 10px;
			height: 100%;
			width: 100%;
			display: block;
			object-fit: contain;
		}
	}
}

@media only screen and (max-height: 750px) {
	.hp-masthead {
		max-height: calc(100vh - 200px);
	}
}
