.maps {
	display: none;
}

.maps__skip {
	padding: 10px 20px;
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	z-index: -1;
	color: transparent;
	background: transparent;

	&:focus {
		visibility: visible;
		z-index: 1;
		background: $red-a;
		color: #fff;
	}
}

@media only screen and (min-width: 1024px) {
	.maps {
		height: 536px;
		display: block;
		max-width: 1070px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		transition: .5s all;
		margin-bottom: 110px;
	}

	.map {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: .25s all;
		width: 100%;

		&.active-map {
			opacity: 1;
			visibility: visible;

			&.active-dots {
				.location {
					animation: grow .5s 1 ease forwards;
				}

				@for $i from 1 through 50 {
		    		.location:nth-of-type(#{$i}n) {
		        		animation-delay: #{$i * .1}s;
		    		}
				}
			}
		}
	}

	.location {
		position: absolute;
		overflow: visible;
		top: 50%;
		left: 50%;
		display: block;
		cursor: pointer;
		transition: .5s all;
		height: 20px;
		width: 20px;
		cursor: pointer;
		transform: scale(0);

		@keyframes grow {
		  0%   { transform: scale(0); }
		  100% { transform: scale(1); }
		}

		&:before {
			content: '';
			position: absolute;
			top: 7px;
			right: 19px;
			height: 1px;
			width: 0;
			background: $red-a;
			transition: 1s all;
		}

		.location-details {
			cursor: pointer;
			display: block;
			color: #434343;
			position: absolute;
			left: -383px;
			top: -10px;
			z-index: 4;
			transition: 1s all;
			border: 1px solid #434343;
			background: #fff;
			border-radius: 4px;
			width: 320px;
			padding: 10px;
			line-height: 21px;
			opacity: 0;
			font-size: 14px;
			pointer-events: none;
			z-index: 10;

			h4 {
				color: #434343;
				font-size: 16px;
				border-bottom: 1px solid #F0F0F0;
				text-transform: uppercase;
				margin-bottom: 8px;
				font-weight: bold;
			}

			.body-of-work {
				margin-bottom: 10px;
			}

			h5 {
				border-bottom: 1px solid #F0F0F0;
				font-weight: bold;
				font-size: 14px;
				color: #434343;
				margin-bottom: 5px;
			}

			p {
				font-size: 14px;
				line-height: 16px;
				border-bottom: 1px solid #F0F0F0;
				margin-bottom: 5px;

				a {
					color: #434343;

					&:hover {
						text-decoration: underline;
					}
				}

				&:last-of-type {
					border: 0;
				}
			}
		}

		.location-marker {
			position: absolute;
			height: 20px;
			width: 20px;
			top: 0;
			left: 0;
			background: #B5271E;
			//opacity: 0.4;
			z-index: 0;
			transition: .5s all;
		}

		&.active-location {
			z-index: 10;

			.location-details {
				transition-delay: .75s;
				opacity: 1;
				pointer-events: auto;
			}

			.location-marker {
				opacity: 1;
			}

			&:before {
				width: 55px;
			}
		}

		&.small {
			height: 10px;
			width: 10px;

			&:before {
				top: 4.5px;
				right: 14px;
			}

			.location-marker {
				height: 10px;
				width: 10px;
			}
		}

		&.medium {
			height: 15px;
			width: 15px;

			.location-marker {
				height: 15px;
				width: 15px;
			}
		}

		&.large {
			height: 25px;
			width: 25px;

			&:before {
				top: 11px;
				right: 27px;
			}

			.location-marker {
				height: 25px;
				width: 25px;
			}
		}

		&.australia {
			top: 76%;
			left: 83%;
		}
		&.canberra-australia {
			top: 82%;
			left: 87.5%;
		}
		&.cairns-australia {
			top: 73%;
			left: 86.5%;
		}
		&.melbourne-australia {
			top: 88%;
			left: 86.5%;
		}
		&.benin {
			top: 58%;
			left: 47%;
		}
		&.brazil {
			top: 70%;
			left: 32%;

			&:before {
				right: auto;
				left: 28.5px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}
		&.burkina-faso {
			top: 55.5%;
			left: 46%;
		}
		&.cameroon {
			top: 59%;
    		left: 50%;
		}
		&.china {
			top: 47%;
    		left: 80%;
		}
		&.cote-d-ivoire {
			top: 59%;
			left: 44%;
		}
		&.ethiopia {
			top: 59%;
			left: 58%;
		}
		&.france {
			top: 35%;
			left: 46%;
		}
		&.germany {
			top: 32%;
			left: 48%;
		}
		&.ghana {
			top: 59.5%;
			left: 45.5%;
		}
		&.guyana {
			top: 60%;
			left: 30%;

			&:before {
				right: auto;
				left: 20px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}
		&.haiti {
			top: 52%;
			left: 25%;

			&:before {
				right: auto;
				left: 20px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}
		&.india {
			top: 56%;
			left: 68%;
		}
		&.chennai-india {
			top: 56%;
			left: 69%;
		}
		&.israel {
			top: 44%;
			left: 55%;
		}
		&.japan {
		    top: 42%;
		    left: 85%;
		}
		&.kenya {
			top: 63%;
			left: 58%;
		}
		&.madagascar {
			top: 74%;
			left: 59%;
		}
		&.malawi {
			top: 71%;
			left: 55%;
		}
		&.mali {
			top: 52%;
			left: 44%;
		}
		&.marseille-france {
			top: 39%;
			left: 47%;
		}
		&.mexico {
			top: 54%;
			left: 21%;

			&:before {
				right: auto;
				left: 20px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}
		&.mozambique {
			top: 73%;
			left: 57%;
		}
		&.nigeria {
			top: 57%;
			left: 49%;
		}
		&.netherlands {
			top: 31%;
			left: 47%;
		}
		&.papa-new-guinea {
		    top: 66.5%;
		    left: 87%;
		}
		&.puerto-rico {
			top: 52%;
			left: 27%;

			&:before {
				right: auto;
				left: 20px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}
		&.rwanda {
			top: 67%;
			left: 54%;
		}
		&.spain {
			top: 39%;
			left: 44.5%;
		}

		&.gipuzkoa-spain {
			top: 38%;
			left: 45%;
		}

		&.switzerland {
			top: 35%;
			left: 47.5%;
		}
		&.tanzania {
			top: 68%;
			left: 56.5%;
		}
		&.tanzania-zanzibar {
			top: 68.5%;
			left: 58.2%;
		}
		&.tanzania-moshi {
			top: 66.5%;
			left: 57.2%;
		}

		&.toronto {
			top: 66.5%;
			left: 57.2%;
		}

		&.trinidad {
			top: 56%;
			left: 28%;

			&:before {
				right: auto;
				left: 20px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}
		&.uganda {
			top: 63%;
			left: 56%;
		}
		&.uk {
			top: 30%;
			left: 45%;
		}
		&.usa {
			top: 36%;
			left: 17%;

			&:before {
				right: auto;
				left: 28.5px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}

		&.maryland {
			top: 37.5%;
			left: 26.5%;

			&:before {
				right: auto;
				left: 28.5px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}

		&.massachusetts-usa {
			top: 37.5%;
			left: 26.5%;

			&:before {
				right: auto;
				left: 28.5px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}

		&.new-orleans-usa {
			top: 45.5%;
			left: 22%;

			&:before {
				right: auto;
				left: 28.5px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}
		&.north-carolina-usa {
			top: 43.5%;
			left: 24.5%;

			&:before {
				right: auto;
				left: 28.5px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}
		&.seattle-usa {
			top: 39%;
			left: 12%;

			&:before {
				right: auto;
				left: 28.5px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}
		&.washington-dc-usa {
			top: 40.5%;
			left: 25.5%;

			&:before {
				right: auto;
				left: 28.5px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}

		&.idaho-usa {
			top: 41%;
			left: 14%;

			&:before {
				right: auto;
				left: 28.5px;
			}

			.location-details {
				left: auto;
				right: -383px;
			}
		}

		&.zambia {
			top: 71%;
			left: 53%;
		}
		&.zimbabwe  {
			top: 79%;
			left: 54%;
		}
	}

	.map.market-access {
		.location {
			.body-of-work {
				h5 {
					display: flex;
					position: relative;
					color: $red-a;

					&:before {
						position: relative;
						display: block;
						content: '';
						height: 10px;
						width: 10px;
						background: $red-a;
						margin-top: 5px;
						margin-right: 5px;
					}
				}

				&.ngenirs {
					h5 {
						color: $teal-a;

						&:before {
							background: $teal-a;
						}
					}
				}
				&.nnp {
					h5 {
						color: $yellow;

						&:before {
							background: $yellow;
						}
					}
				}
			}
			.location-marker {
				background: #B5271E;
				//opacity: 0.4;

				&.ngenirs {
					background: $teal-a;

					&.nnp {
						background: rgb(221,150,57);
						background: -moz-linear-gradient(-45deg,  rgba(221,150,57,1) 46%, rgba(221,150,57,1) 50%, rgba(0,156,166,1) 50%);
						background: -webkit-linear-gradient(-45deg,  rgba(221,150,57,1) 46%,rgba(221,150,57,1) 50%,rgba(0,156,166,1) 50%);
						background: linear-gradient(135deg,  rgba(221,150,57,1) 46%,rgba(221,150,57,1) 50%,rgba(0,156,166,1) 50%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd9639', endColorstr='#009ca6',GradientType=1 );
					}
				}

				&.nnp {
					background: $yellow;
				}
			}
		}
	}
}

@media all and (-ms-high-contrast:none) {
	.map {
		.location {
			transform: none!important;
		}
		.location {
			animation: none!important;
		}
	}
}
