.remodal-overlay {
	z-index: 55;
	background: rgba(46, 46, 43, 0.7);
}

.remodal-wrapper {
	z-index: 60;
}

.remodal {
	padding: 0;
	max-width: 1260px;
	background: none;
	z-index: 60;

	.modal-background {
		position: relative;
		background: #383735;
		padding: 20px 30px;
		padding-top: 80px;
		border-radius: 10px;
		min-height: 200px;

		&:before {
			position: absolute;
			top: 20px;
			left: 40px;
			content: ' ';
			display: block;
			height: 45px;
			width: 125px;
			background: url('../library/images/white-logo.svg') center / contain no-repeat;
		}

		.remodal-close {
			color: #FFF;
			position: absolute;
			right: 40px;
			top: 20px;
			left: auto;

			&:before {
				font-size: 40px;
				color: $red-a;
			}

			&:after {
				position: absolute;
				top: 9px;
				left: -50px;
				font-size: 16px;
				font-weight: 300;
				content: 'CLOSE';
			}

			&:focus {
				&:after {
					color: $red-a;
				}
			}
		}
	}

	.modal-inner {
		.modal-content {
			display: flex;
			align-items: flex-start;
			opacity: 0;
			height: 200px;
			transition: .5s all;

			&.active {
				height: auto;
				opacity: 1;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.remodal {
		.modal-background {
			padding: 30px 40px;
			padding-top: 110px;
		}
	}
}

.remodal.team-modal {
	background: none;

	.modal-inner {
		display: flex;
		color: #FFF;
		text-align: center;
		align-items: center;
		justify-content: center;

		.modal-content {
			align-items: center;
			flex-direction: column;
		}

		.left-col {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			max-width: 300px;
			width: 100%;
			margin-bottom: 20px;

			.profile-picture {
				width: 100%;
				height: 300px;
				border-radius: 6px;
				margin-bottom: 30px;
				margin-right: 0;
			}

			p {
				font-size: 23px;
				line-height: 27px;
			}
		}

		.right-col {
			display: block;
			max-width: 920px;
			width: 100%;
			overflow: auto;
			overflow-x: hidden;

			h1, h2, h3, h4 {
				color: #FFF;
			}

			p:last-of-type {
				margin-bottom: 0;
			}

			&.external-content {
				p {
					font-size: 23px;
					line-height: 27px;
				}
			}
			}

		&.active-inner {
			display: flex;
		}
	}
}

// @media only screen and (max-height: 567px) {
// 	.remodal.team-modal {
// 		.modal-inner {
// 			text-align: left;

// 			.left-col {
// 				display: flex;
// 				justify-content: flex-start;
// 				align-items: flex-end;
// 				max-width: none;

// 				.profile-picture {
// 					width: 180px;
// 					height: 180px;
// 					margin-right: 30px;
// 					margin-bottom: 0;
// 				}

// 				p {
// 					margin-bottom: 0;
// 				}
// 			}
// 		}
// 	}
// }

@media only screen and (min-width: 768px) {
	.remodal.team-modal {
		.modal-inner {
			text-align: left;

			.modal-content {
				align-items: flex-start;
				flex-direction: row;
			}

			.left-col {
				text-align: left;
				align-items: flex-start;
				max-width: 300px;
				width: 100%;
				margin-bottom: 0;
				margin-right: 60px;

				.mobile-details {
					display: none;
				}
			}

			.right-col {
				display: block;
				max-width: 920px;
				width: 100%;
				max-height: 600px;
				overflow: auto;
				overflow-x: hidden;
				padding-right: 10px;

				h1, h2, h3, h4 {
					color: #FFF;
				}

				p:last-of-type {
					margin-bottom: 0;
				}

				&.external-content {
					p {
						font-size: 23px;
						line-height: 27px;
					}
				}
			}

			&.active-inner {
				display: flex;
			}

			::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background: none;}
			::-webkit-scrollbar{ width: 5px; }
			::-webkit-scrollbar-thumb{background-color: $red-a;}
		}
	}
}

.remodal.resource-modal {
	padding-top: 30px;
	color: #FFF;

	.modal-inner {
		position: relative;

		.left-col {
			display: none;

			&.pdf-details {
				display: block;
				width: 100%;
				color: #FFF;
				text-align: left;
				//height: calc(100vh - 200px);
				overflow: auto;
				overflow-x: hidden;

				h3, h4 {
					color: #FFF;
				}
			}
		}

		.right-col {
			width: 100%;

			&.pdf-viewer {
				display: none;
			}

			embed {
				width: 100%;
			}

			&.gallery-container {
				display: flex;
				flex-wrap: wrap;
				max-height: 600px;
				overflow: auto;
				overflow-x: hidden;

				a {
					display: block;
					width: calc(20% - 7px);
					height: 75px;
					margin-right: 8px;
					margin-bottom: 10px;
					overflow: hidden;

					&:nth-of-type(5n) {
						margin-right: 0;
					}

					img {
						width: 100%;
					}
				}
			}

			&.video-container {
				height: auto;
				min-height: none;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				cursor: pointer;

				iframe {
					position: relative;
					display: block;
					width: 100%;
					//height: 500px;
				}
			}
		}

		::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background: none;}
		::-webkit-scrollbar{ width: 5px; }
		::-webkit-scrollbar-thumb{background-color: $red-a;}
	}

	.btn {
		margin-bottom: 20px;
		background: $red-a;
		color: #FFF;
		font-weight: 400;
		max-width: 300px;
		cursor: pointer;
		transition: .5s all;
		border: none;

		&.download-btn {
			display: none;
		}
	}
}

@media only screen and (min-width: 768px) {
	.remodal.resource-modal {
		.modal-inner {
			.right-col {
				&.gallery-container {
					a {
						width: calc(20% - 15px);
						height: 143px;
						margin-right: 18px;
						margin-bottom: 18px;

						&:nth-of-type(5n) {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.remodal.resource-modal {
		.modal-inner {
			min-height: none;
			position: relative;

			.left-col {
				display: block;
				text-align: left;
				width: 100%;
				max-width: 360px;
				max-height: 500px;
				overflow: auto;
				overflow-x: hidden;
				margin-right: auto;
				padding-right: 60px;

				h3, h4 {
					color: #FFF;
				}

				&.pdf-details {
					max-width: none;
					margin-right: 0;
				}
			}

			.right-col {
				width: 100%;

				&.pdf-viewer {
					display: none;
				}

				&.video-container {
					max-width: 680px;
				}

				&.gallery-container {
					max-height: 500px;

					a {
						height: 143px;
					}
				}
			}
		}

		.btn {
			&.view-btn {
				display: none;
			}
			&.download-btn {
				display: flex;
			}
		}
	}
}

@media only screen and (min-height: 800px) {
	.remodal.resource-modal, .remodal.team-modal {
		.modal-inner {
			//min-height: 300px;
		}
	}
}

@media only screen and (min-width: 1100px) {
	.remodal.resource-modal {
		.modal-inner {
			position: relative;

			.left-col {
				&.pdf-details {
					display: block;
					text-align: left;
					width: 100%;
					max-width: 300px;
					max-height: 600px;
					overflow: auto;
					overflow-x: hidden;
					margin-right: 60px;
					height: auto;
				}
			}

			.right-col {
				&.pdf-viewer {
					display: block;
				}
			}
		}
	}
}

.modal-loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	pointer-events: none;
	opacity: 0;
	transition: .5s all;

	&.show-loader {
		opacity: 1;
	}

	.loader {
		height: 59px;
		width: 59px;
		position: relative;

		.loader-block {
			font-size: 8px;
			border-radius: 4px;
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			opacity: 0;
			width: 2em;
			height: 2em;
			background: #fdfdfd;
			animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;

			&:nth-child(1) {
		  		transform: translate(0, 0);
		  		animation-delay: 0.065s;
			}

			&:nth-child(2) {
			  transform: translate(2.66667em, 0);
			  animation-delay: 0.13s;
			}

			&:nth-child(3) {
			  transform: translate(5.33333em, 0);
			  animation-delay: 0.195s;
			}

			&:nth-child(4) {
			  transform: translate(0, 2.66667em);
			  animation-delay: 0.325s;
			}

			&:nth-child(5) {
			  transform: translate(2.66667em, 2.66667em);
			  animation-delay: 0.13s;
			}

			&:nth-child(6) {
			  transform: translate(5.33333em, 2.66667em);
			  animation-delay: 0.455s;
			}

			&:nth-child(7) {
			  transform: translate(0, 5.33333em);
			  animation-delay: 0.39s;
			}

			&:nth-child(8) {
			  transform: translate(2.66667em, 5.33333em);
			  animation-delay: 0.26s;
			}

			&:nth-child(9) {
			  transform: translate(5.33333em, 5.33333em);
			}
		}

		@keyframes pulse {
			from, 40% {
		    	background: #fdfdfd;
		  	}
		  	to {
		    	background: #dadada;
		  	}
		}
		@keyframes show {
			from, 40% {
		    	opacity: 0;
		  	}
		  	41%, to {
		    	opacity: 1;
		  	}
		}
	}
}
