.newsletter-popup-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: .5s all;
	padding: 0 20px;
	z-index: 60;

	&.active-popup {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

.newsletter-popup {
	position: relative;
	width: 100%;
	max-width: 1115px;
	background: #121211;
	padding: 50px 0;
	border-radius: 10px;

	.close {
		width: 28px;
		height: 28px;
		position: absolute;
		right: 10px;
		top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 22px;
		color: #FAFAF8;
		border-radius: 50%;
		border: 1px solid #FAFAF8;
		cursor: pointer;
	}

	.wrap {
		align-items: center;
		max-width: 940px;
	}

	h3 {
		width: 100%;
		text-align: center;
		font-weight: 400;
		font-size: 30px;
		line-height: 42px;
		color: #FFF;
		margin: 0 0 35px 0;
		flex-shrink: 0;
	}

	.wpcf7 {
		width: 100%;
	}

	.wpcf7-form {
		position: relative;
		width: 100%;

		p {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
		}

		input {
			width: 100%;
		}

		.wpcf7-form-control-wrap {
			width: 100%;

			&.your-name {
				margin-bottom: 10px;
			}
		}

		.wpcf7-submit {
			border: 0;
			background: #b5271e	;
			color: #FFF;
			max-width: 140px;
			margin: 10px auto 0 auto;
			color: #FFF;
			font-size: 24px;
			cursor: pointer;
			transition: .5s all;

			&:hover {
				opacity: 0.8;
			}
		}

		.wpcf7-response-output {
			display: none!important;
		}

		.wpcf7-not-valid-tip {
			font-size: 12px;
			margin-top: 0;
		}

		.ajax-loader {
			position: absolute;
			right: 0;
			bottom: -22px;
		}
	}

	.pop-up-content {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.newsletter-popup {
		.close {
			right: 18px;
			top: 18px;
		}

		h3 {
			margin: 0 0 35px 0;
		}

		.wpcf7-form {
			p {
				flex-wrap: nowrap;
			}

			.wpcf7-form-control-wrap {
				&.your-name {
					margin-bottom: 0;
					margin-right: 20px;
				}

				&.email-address {
					margin-right: 20px;
				}
			}

			.wpcf7-submit {
				margin: 0;
			}

			.wpcf7-not-valid-tip {
				position: absolute;
			}
		}

		.pop-up-content {
			display: block;
			max-width: 675px;
			margin: 55px auto 0 auto;

			p {
				font-weight: 400;
				font-size: 22px;
				line-height: 26px;
				color: #FFF;
				text-align: center;
				margin: 0;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.newsletter-popup {
		.wpcf7 {
			margin: 0 auto;
			max-width: 725px;
		}

		.wpcf7-form {
			input {
				width: 100%;
			}

			.wpcf7-form-control-wrap {
				&.your-name {
					max-width: 215px;
				}

				&.email-address {
					max-width: 332px;
				}
			}

			.wpcf7-response-output {
				position: absolute;
			}

			.wpcf7-not-valid-tip {
				position: absolute;
			}
		}
	}
}
